<div class="landing-body">
  <div id="meet-mirage" class="p-col-12">
    <div style="text-align: center; padding-top: 50px;">
      <h1>Centro de Educación Continua "Yavirac"</h1>
    </div>
  </div>

  <div>
    <div class="p-grid" style="padding-top: 20px; padding-left: 50px; padding-right: 50px;">
      <div class="p-col-12">
        <h1 style="padding-left: 50px;">Lista de Reportes</h1>
      </div>
      
      <div class="p-grid" style="padding-top: 30px; padding-left: 70px; padding-right: 70px;">
        <div class="p-col-12 on_select" style="border-top: 1px solid; padding-top: 20px;" routerLink="/cecy/reports/form_d1">
            <h5>1) FORMULARIO: D1 / PROGRAMACIÓN DE CURSOS DE CAPACITACIÓN MENSUAL</h5>
        </div>
        <div class="p-col-12 on_select" style="border-top:1px solid; padding-top: 20px;" routerLink="/cecy/reports/form_f2">
            <h5>2) FORMULARIO: F2 / INFORME DE NECESIDAD DEL CURSO</h5>
        </div>
        <div class="p-col-12 on_select" style="border-top:1px solid" routerLink="/cecy/reports/form_b1">
            <h5>3) FORMULARIO: B1 / DIRECCIÓN DE CALIFICACIÓN Y RECONOCIMIENTO
              FORMULARIO DE DISEÑO CURRICULAR</h5>
        </div>
        <div class="p-col-12 on_select" style="border-top:1px solid; padding-top: 20px;" routerLink="/cecy/reports/form_a2">
            <h5>4) FORMULARIO: A2 / INSCRIPCIÓN PARA CURSOS DE CAPACITACIÓN</h5>
        </div>
        <div class="p-col-12 on_select" style="border-top:1px solid; padding-top: 20px;" routerLink="/cecy/reports/form_e1">
            <h5>5) FORMULARIO: E1 /  REGISTRO DE PARTICIPANTES INSCRITOS Y MATRICULADOS</h5>
        </div>
        <div class="p-col-12 on_select" style="border-top:1px solid; padding-top: 20px;" routerLink="/cecy/reports/photographic_register">
            <h5>6) REGISTRO FOTOGRÁFICO </h5>
        </div>
      </div>
    </div>
  </div>
  <style>
    .on_select {
      background-color: #ffffff;
    }

    .on_select:hover {
      background-color: #5e81ab;
      color: #ffffff;
    }
  </style>