<div class="landing-body">
    <div id="meet-mirage" class="p-col-12">
        <div style="text-align: center; padding-top: 50px;">
            <h1>Centro de Educación Continua "Yavirac"</h1>
        </div>
        <div class="section" style="padding-top: 20px;">
            <div class="p-grid">
                <div class="p-col-1" style="text-align: center; margin-top: 0px;"><button type="button" label="" pButton
                        routerLink="/cecy/reports/list" icon="pi pi-arrow-left"></button></div>
                <div class="p-col-11">
                        <h3>INFORME DE NECESIDAD DEL CURSO</h3>
                </div>
            </div>
        </div>


        <div style="padding-left: 70px; padding-right: 70px;">
            <p-tabView>
                <p-tabPanel header="Todo">
                    <h5>TODOS LOS INSTITUTOS</h5>
                    <p-table [columns]="cols" [value]="coursesNeeds" [loading]="loading">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th colspan="2" pSortableColumn="course.name">
                                    Curso
                                    <p-sortIcon field="course.name"></p-sortIcon>
                                </th>
                                <th colspan="2" pSortableColumn="course.institution.name">
                                    Institución
                                    <p-sortIcon field="course.institution.name"></p-sortIcon>
                                </th>
                                <th colspan="1" style="width: 300px; text-align: center;">
                                    Detalle
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pEditableRow]="rowData">
                                <td colspan="2">
                                    {{rowData.course.name}}
                                </td>
                                <td colspan="2">
                                    {{rowData.course.institution.denomination}} {{rowData.course.institution.name}}
                                </td>
                                <td style="text-align: center;">
                                    <button type="text" icon="pi pi-external-link" style="margin-left: 5px; padding-top: 5px;" 
                                    pButton label="Ver detalle" (click)=" onSelect(rowData); showMaximizableDialog();"></button>
                                    <button type="button" icon="pi pi-file-pdf" label="Descargar" pButton
                                    style="background-color: rgb(200, 12, 12); margin-left: 5px; padding-top: 5px;" 
                                    (click)="pdf(rowData.id)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="5">Data not found or information not available in the database.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Yavirac">
                    <h5>INSTITUTO SUPERIO TECNOLOGICO DE TURISMO Y PATRIMONIO YAVIRAC</h5>
                    <p-table [columns]="cols" [value]="coursesNeeds" [loading]="loading">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th colspan="2" pSortableColumn="course.name">
                                    Curso
                                    <p-sortIcon field="course.name"></p-sortIcon>
                                </th>
                                <th colspan="2" pSortableColumn="course.institution.name">
                                    Institución
                                    <p-sortIcon field="course.institution.name"></p-sortIcon>
                                </th>
                                <th colspan="1" style="width: 300px; text-align: center;">
                                    Detalle
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pEditableRow]="rowData" *ngIf="rowData.course.institution.name === 'DE TURISMO Y PATRIMONIO YAVIRAC'">
                                <td colspan="2">
                                    {{rowData.course.name}}
                                </td>
                                <td colspan="2">
                                    {{rowData.course.institution.denomination}} {{rowData.course.institution.name}}
                                </td>
                                <td style="text-align: center;">
                                    <button type="text" icon="pi pi-external-link" style="margin-left: 5px; padding-top: 5px;" 
                                    pButton label="Ver detalle" (click)=" onSelect(rowData); showMaximizableDialog();"></button>
                                    <button type="button" icon="pi pi-file-pdf" label="Descargar" pButton
                                    style="background-color: rgb(200, 12, 12); margin-left: 5px; padding-top: 5px;" 
                                    (click)="pdf(rowData.id)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="5">Data not found or information not available in the database.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Gran Colombia">
                    <h5>INSTITUTO SUPERIO TECNOLOGICO GRAN COLOMBIA</h5>
                    <p-table [columns]="cols" [value]="coursesNeeds" [loading]="loading">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th colspan="2" pSortableColumn="course.name">
                                    Curso
                                    <p-sortIcon field="course.name"></p-sortIcon>
                                </th>
                                <th colspan="2" pSortableColumn="course.institution.name">
                                    Institución
                                    <p-sortIcon field="course.institution.name"></p-sortIcon>
                                </th>
                                <th colspan="1" style="width: 300px; text-align: center;">
                                    Detalle
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pEditableRow]="rowData" *ngIf="rowData.course.institution.name === 'GRAN COLOMBIA'">
                                <td colspan="2">
                                    {{rowData.course.name}}
                                </td>
                                <td colspan="2">
                                    {{rowData.course.institution.denomination}} {{rowData.course.institution.name}}
                                </td>
                                <td style="text-align: center;">
                                    <button type="text" icon="pi pi-external-link" style="margin-left: 5px; padding-top: 5px;" 
                                    pButton label="Ver detalle" (click)=" onSelect(rowData); showMaximizableDialog();"></button>
                                    <button type="button" icon="pi pi-file-pdf" label="Descargar" pButton
                                    style="background-color: rgb(200, 12, 12); margin-left: 5px; padding-top: 5px;" 
                                    (click)="pdf(rowData.id)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="5">Data not found or information not available in the database.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Benitó Júarez">
                    <h5>INSTITUTO SUPERIO TECNOLOGICO BENITÓ JÚAREZ</h5>
                    <p-table [columns]="cols" [value]="coursesNeeds" [loading]="loading">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th colspan="2" pSortableColumn="course.name">
                                    Curso
                                    <p-sortIcon field="course.name"></p-sortIcon>
                                </th>
                                <th colspan="2" pSortableColumn="course.institution.name">
                                    Institución
                                    <p-sortIcon field="course.institution.name"></p-sortIcon>
                                </th>
                                <th colspan="1" style="width: 300px; text-align: center;">
                                    Detalle
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pEditableRow]="rowData" *ngIf="rowData.course.institution.name === 'BENITO JUAREZ'">
                                <td colspan="2">
                                    {{rowData.course.name}}
                                </td>
                                <td colspan="2">
                                    {{rowData.course.institution.denomination}} {{rowData.course.institution.name}}
                                </td>
                                <td style="width: 250px;">
                                    <button type="text" icon="pi pi-external-link" style="margin-left: 5px; padding-top: 5px;" 
                                    pButton label="Ver detalle" (click)=" onSelect(rowData); showMaximizableDialog();"></button>
                                    <button type="button" icon="pi pi-file-pdf" label="Descargar" pButton
                                    style="background-color: rgb(200, 12, 12); margin-left: 5px; padding-top: 5px;" 
                                    (click)="pdf(rowData.id)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="5">Data not found or information not available in the database.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
    <!--Pop-up-->
    
    <p-dialog header="Detalle" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '90vw', Height: '60vw'}" [maximizable]="true" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
        <p-table #dt [columns]="cols" [value]="coursesNeeds" styleClass="p-datatable-lg"
            [scrollable]="true" scrollHeight="1000px">
            <ng-template pTemplate="header">
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                    <td colspan="2" style="width:250px; height: 100px; text-align: center;">
                        <!--SENESCYT-->
                        <img src="../img/Yavirac.png" alt="SENESCYT" width="100px" height="100px"  />
                    </td>
                    <td colspan="2" style="width:250px; height: 100px; text-align: center;">
                        <!--YAVIRAC-->
                        <img src="../img/Yavirac.png" alt="Yavirac" width="100px" height="100px"  />
                    </td>
                    <td  colspan="1" style="width:250px">
                        <b>CÓDIGO DEL CURSO:</b> {{rowData.course.code}}
                    </td>
                </tr>
                <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                    <td colspan="5" style="width:250px; text-align: center;">
                        <h3>"{{rowData.course.institution.denomination}} {{rowData.course.institution.name}}"</h3>
                    </td>
                </tr>
                <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                    <td colspan="5" style="width:250px; text-align: center;">
                        <h3>INFORME DE NECESIDADES DEL CURSO</h3>
                    </td>
                </tr>
                <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                    <td colspan="5" style="width:250px; text-align: left;">
                        <b>Nombre del Docente:</b> {{rowData.instructor.user.first_name}} {{rowData.instructor.user.second_name}} {{rowData.instructor.user.first_lastname}} {{rowData.instructor.user.second_lastname}}
                    </td>
                </tr>
                <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                    <td colspan="5" style="width:250px; text-align: left;">
                        <b>Nombre del Course:</b> {{rowData.course.name}}
                    </td>
                </tr>

                <!--Tipo de curso-->
                <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                    <td colspan="1" style="width:250px; text-align: left;">
                        <b>Tipo de Curso:</b>
                    </td>
                    <td colspan="2" style="width:250px; text-align: left;">
                        <div class="p-grid">
                            <div class="p-col-6">
                                <b>Administractivo:</b>
                            </div>
                            <div class="p-col-6">
                                <div *ngIf="rowData.course.course.name==='ADMINISTRATIVO'"
                                    style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                <div *ngIf="rowData.course.course.name!='ADMINISTRATIVO'"
                                    style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                </div>
                            </div>
                        </div>
                    </td>
                    <td colspan="2" style="width:250px; text-align: left;">
                        <div class="p-grid">
                            <div class="p-col-6">
                                <b>Técnico:</b>
                            </div>
                            <div class="p-col-6">
                                <div *ngIf="rowData.course.course.name==='TECNICO'"
                                    style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                <div *ngIf="rowData.course.course.name!='TECNICO'"
                                    style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                <!--Modalidad-->
                <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                    <td colspan="1" style="width:250px; text-align: left;">
                        <b>Modalidad del Curso:</b>
                    </td>
                    <td colspan="2" style="width:250px; text-align: left;">
                        <!--Consultar como se va ingresar el dato-->
                        <div class="p-grid">
                            <div class="p-col-6"><b>Presencial:</b></div>
                            <div class="p-col-6">
                                <div *ngIf="rowData.course.modality.name==='PRESENCIAL'"
                                    style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                <div *ngIf="rowData.course.modality.name!='PRESENCIAL'"
                                    style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                </div>
                            </div>
                        </div>
                    </td>
                    <td colspan="2" style="width:250px; text-align: left;" *ngIf="rowData.course.modality.name==='SEMI-PRECENSIAL'">
                        <div class="p-grid">
                            <div class="p-col-6">
                                <b>Semi-Presencial:</b>
                            </div>
                            <div class="p-col-6">
                                <div *ngIf="rowData.course.modality.name==='SEMI-PRESENCIAL'"
                                    style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                <div *ngIf="rowData.course.modality.name!='SEMI-PRESENCIAL'"
                                    style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                </div>
                            </div>
                        </div>
                    </td>
                    <td colspan="2" style="width:250px; text-align: left;" *ngIf="rowData.course.modality.name==='DISTANCIA'">
                        <!--Consultar como se va ingresar el dato-->
                            <div class="p-grid">
                            <div class="p-col-6">
                                <b>Distancia:</b>
                            </div>
                            <div class="p-col-6">
                                <div *ngIf="rowData.course.modality.name==='DISTANCIA'"
                                    style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                <div *ngIf="rowData.course.modality.name!='DISTANCIA'"
                                    style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                </div>
                            </div>
                        </div>
                    </td>
                    <td colspan="2" style="width:250px; text-align: left;" *ngIf="rowData.course.modality.name==='DUAL'">
                        <!--Consultar como se va ingresar el dato-->
                        <div class="p-grid">
                            <div class="p-col-6">
                                <b>Dual:</b>
                            </div>
                            <div class="p-col-6">
                                <div *ngIf="rowData.course.modality.name==='DUAL'"
                                    style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                <div *ngIf="rowData.course.modality.name!='DUAL'"
                                    style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                </div>
                            </div>
                        </div>
                    </td>
                    <td colspan="2" style="width:250px; text-align: left;"
                        *ngIf="rowData.course.modality.name!='DUAL' && rowData.course.modality.name!='SEMI-PRECENSIAL' && rowData.course.modality.name!='DISTANCIA'">
                        <div class="p-grid">
                            <div class="p-col-6"><b>Virtual:</b></div>
                            <div class="p-col-6">
                                <div *ngIf="rowData.course.modality.name==='VIRTUAL'"
                                    style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                <div *ngIf="rowData.course.modality.name!='VIRTUAL'"
                                    style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                <!--Necesidades del curso json-->
                <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                    <td colspan="5" style="width:250px; text-align: left;">
                        <b>Necesidades esta en planification</b>
                        <div *ngFor=" let need of rowData.needs" style="padding-left: 10px;">{{need}}</div>
                    </td>
                </tr>

                <!--Duración del curso-->
                <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                    <td colspan="5" style="width:250px; text-align: left;">
                        <b>Duración del curso:</b> {{rowData.course.duration}} <b>Horas</b>
                    </td>
                </tr>

                <!--Lugar / Lugares donde se dictará-->
                <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                    <td colspan="5" style="width:250px; text-align: left;">
                        <b>Lugar / Lugares donde se dictará:</b>
                        <div *ngFor="let facilitie of rowData.course.facilities">{{facilitie}}</div>
                    </td>
                </tr>

                <!--Horario Y días-->
                <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                    <td colspan="1" style="width:250px; text-align: left;" *ngFor="let s of schedule">
                        <b>Horario del Curso:</b> {{s.start_time}} <b>a</b> {{s.end_time}}
                    </td>
                    <td colspan="4" style="width:250px; text-align: left;" *ngFor="let s of schedule">
                        <div class="p-grid">
                            <div class="p-col-2" style="text-align: center;"><b>Dias</b></div>
                            <div class="p-col-3">
                                <div>
                                    <div
                                        style="border: 1px solid black; width: 50px; height: 20px; text-align: center;">
                                        X</div>
                                    <div class="p-col-5"
                                        style="border: 1px solid black; width: 150px; height: 50px; text-align: center;">
                                        Lunes-Viernes</div>
                                </div>
                            </div>
                            <div class="p-col-2">
                                <div>
                                    <div
                                        style="border: 1px solid black; width: 50px; height: 20px; text-align: center;">
                                        </div>
                                    <div class="p-col-5"
                                        style="border: 1px solid black; width: 100px; height: 50px; text-align: center;">
                                        Sábado</div>
                                </div>
                            </div>
                            <div class="p-col-3">
                                <div>
                                    <div
                                        style="border: 1px solid black; width: 50px; height: 20px; text-align: center;">
                                        </div>
                                    <div class="p-col-5"
                                        style="border: 1px solid black; width: 150px; height: 50px; text-align: center;">
                                        Lunes-Domingo</div>
                                </div>
                            </div>
                            <div class="p-col-2">
                                <div>
                                    <div
                                        style="border: 1px solid black; width: 50px; height: 20px; text-align: center;">
                                        </div>
                                    <div class="p-col-5"
                                        style="border: 1px solid black; width: 100px; height: 50px; text-align: center;">
                                        Domingos</div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                <!--Fecha Inicio y fin-->
                <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                    <td colspan="5" style="width:250px; text-align: left;">
                        <div class="p-grid">
                            <div class="p-col-6">
                                <b>Fecha de Iniciación:</b> {{rowData.date_start}}
                            </div>
                            <div class="p-col-6">
                                <b>Fecha real de finalización</b>: {{rowData.date_end}}
                            </div>
                        </div>
                    </td>
                </tr>

                <!--Fecha prevista de finalización:-->
                <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                    <td colspan="5" style="width:250px; text-align: left;">
                        <b>Fecha prevista de finalización:</b> {{rowData.planned_end_date}}
                    </td>
                </tr>

                <!--Participantes a ser inscritos:-->
                <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                    <td colspan="5" style="width:250px; text-align: left;">
                        <b>Participantes a ser inscritos:</b> {{rowData.capacity}}
                    </td>
                </tr>

                <!--Resumen del Curso y Posible Proyecto:-->
                <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                    <td colspan="5" style="width:250px; text-align: left;">
                        <b>Resumen del Curso y Posible Proyecto:</b>
                        <div>
                            <p>{{rowData.summary}}</p>
                        </div>
                    </td>
                </tr>

                <!--Indicar a que población se encuentra dirigido el curso: -->
                <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                    <td colspan="5" style="width:250px; text-align: left;">
                        <b>Indicar a que población se encuentra dirigido el curso:</b>
                        <div>
                            <p>{{rowData.course.capacity}}</p>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td colspan="5" class="p-text-center" style="text-align: justify;">
                        <p> <b>Nota:</b> Documento que deberá ser aprobado por parte del Organo
                        Colegiado Superior (OCS) y del Vicerrector del Instituto, tal
                        como lo indica la normativa y el Acuerdo 118</p>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-dialog>
    
    
</div>
