<div class="landing-body">
    <div id="meet-mirage" class="p-col-12">
        <div style="text-align: center; padding-top: 30px;">
            <h1>Centro de Educación Continua "Yavirac"</h1>
        </div>
        <div class="section" style="padding-top: 20px;">
            <div class="p-grid">
                <div class="p-col-1" style="text-align: center; margin-top: 0px;"><button type="button" label="" pButton
                        routerLink="/cecy/reports/list" icon="pi pi-arrow-left"></button></div>
                <div class="p-col-11">
                    <h3> REGISTRO DE PARTICIPANTES INSCRITOS Y MATRICULADOS </h3>
                </div>
            </div>
        </div>

        <div style="padding-left: 70px; padding-right: 70px;">
            
            <p-tabView>
                <p-tabPanel header="Todo">
                    <h5>TODOS LOS INSTITUTOS</h5>
                    <p-table [columns]="cols" [value]="detailPlanifications" [loading]="loading">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th colspan="2" pSortableColumn="course.name">
                                    Curso
                                    <p-sortIcon field="course.name"></p-sortIcon>
                                </th>
                                <th colspan="2" pSortableColumn="course.institution.name">
                                    Institución
                                    <p-sortIcon field="course.institution.name"></p-sortIcon>
                                </th>
                                <th colspan="1" style="width: 300px; text-align: center;">
                                    Detalle
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pEditableRow]="rowData">
                                <td colspan="2">
                                    {{rowData.course.name}}
                                </td>
                                <td colspan="2">
                                    {{rowData.course.institution.denomination}} {{rowData.course.institution.name}}
                                </td>
                                <td style="text-align: center;">
                                    <button type="text" icon="pi pi-external-link" style="margin-left: 5px; padding-top: 5px;" 
                                    pButton label="Ver detalle" (click)="onSelect(rowData); obtenerDetailRegistration(rowData.detail_registration_id); showMaximizableDialog();"></button>
                                    <button type="button" icon="pi pi-file-pdf" label="Descargar" pButton
                                    style="background-color: rgb(200, 12, 12); margin-left: 5px; padding-top: 5px;" 
                                    (click)="pdf(rowData.id)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="5">Data not found or information not available in the database.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>

                <p-tabPanel header="Yavirac">
                    <h5>INSTITUTO SUPERIO TECNOLOGICO DE TURISMO Y PATRIMONIO YAVIRAC</h5>
                    <p-table [columns]="cols" [value]="detailPlanifications" [loading]="loading">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th colspan="2" pSortableColumn="course.name">
                                    Curso
                                    <p-sortIcon field="course.name"></p-sortIcon>
                                </th>
                                <th colspan="2" pSortableColumn="course.institution.name">
                                    Institución
                                    <p-sortIcon field="course.institution.name"></p-sortIcon>
                                </th>
                                <th colspan="1" style="width: 300px; text-align: center;">
                                    Detalle
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pEditableRow]="rowData" *ngIf="rowData.course.institution.name === 'DE TURISMO Y PATRIMONIO YAVIRAC'">
                                <td colspan="2">
                                    {{rowData.course.name}}
                                </td>
                                <td colspan="2">
                                    {{rowData.course.institution.denomination}} {{rowData.course.institution.name}}
                                </td>
                                <td style="text-align: center;">
                                    <button type="text" icon="pi pi-external-link" style="margin-left: 5px; padding-top: 5px;" 
                                    pButton label="Ver detalle" (click)="onSelect(rowData); obtenerDetailRegistration(rowData.detail_registration_id); showMaximizableDialog();"></button>
                                    <button type="button" icon="pi pi-file-pdf" label="Descargar" pButton
                                    style="background-color: rgb(200, 12, 12); margin-left: 5px; padding-top: 5px;" 
                                    (click)="pdf(rowData.id)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="5">Data not found or information not available in the database.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>

                <p-tabPanel header="Gran Colombia">
                    <h5>INSTITUTO SUPERIO TECNOLOGICO GRAN COLOMBIA</h5>
                    <p-table [columns]="cols" [value]="detailPlanifications" [loading]="loading">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th colspan="2" pSortableColumn="course.name">
                                    Curso
                                    <p-sortIcon field="course.name"></p-sortIcon>
                                </th>
                                <th colspan="2" pSortableColumn="course.institution.name">
                                    Institución
                                    <p-sortIcon field="course.institution.name"></p-sortIcon>
                                </th>
                                <th colspan="1" style="width: 300px; text-align: center;">
                                    Detalle
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pEditableRow]="rowData" *ngIf="rowData.course.institution.name === 'GRAN COLOMBIA'">
                                <td colspan="2">
                                    {{rowData.course.name}}
                                </td>
                                <td colspan="2">
                                    {{rowData.course.institution.denomination}} {{rowData.course.institution.name}}
                                </td>
                                <td style="text-align: center;">
                                    <button type="text" icon="pi pi-external-link" style="margin-left: 5px; padding-top: 5px;" 
                                    pButton label="Ver detalle" (click)="onSelect(rowData); obtenerDetailRegistration(rowData.detail_registration_id); showMaximizableDialog();"></button>
                                    <button type="button" icon="pi pi-file-pdf" label="Descargar" pButton
                                    style="background-color: rgb(200, 12, 12); margin-left: 5px; padding-top: 5px;" 
                                    (click)="pdf(rowData.id)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="5">Data not found or information not available in the database.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>

                <p-tabPanel header="Benitó Júarez">
                    <h5>INSTITUTO SUPERIO TECNOLOGICO BENITÓ JÚAREZ</h5>
                    <p-table [columns]="cols" [value]="detailPlanifications" [loading]="loading">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th colspan="2" pSortableColumn="course.name">
                                    Curso
                                    <p-sortIcon field="course.name"></p-sortIcon>
                                </th>
                                <th colspan="2" pSortableColumn="course.institution.name">
                                    Institución
                                    <p-sortIcon field="course.institution.name"></p-sortIcon>
                                </th>
                                <th colspan="1" style="width: 300px; text-align: center;">
                                    Detalle
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pEditableRow]="rowData" *ngIf="rowData.course.institution.name === 'BENITO JUAREZ'">
                                <td colspan="2">
                                    {{rowData.course.name}}
                                </td>
                                <td colspan="2">
                                    {{rowData.course.institution.denomination}} {{rowData.course.institution.name}}
                                </td>
                                <td style="text-align: center;">
                                    <button type="text" icon="pi pi-external-link" style="margin-left: 5px; padding-top: 5px;" 
                                    pButton label="Ver detalle" (click)="onSelect(rowData); obtenerDetailRegistration(rowData.detail_registration_id); showMaximizableDialog();"></button>
                                    <button type="button" icon="pi pi-file-pdf" label="Descargar" pButton
                                    style="background-color: rgb(200, 12, 12); margin-left: 5px; padding-top: 5px;" 
                                    (click)="pdf(rowData.id)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="5">Data not found or information not available in the database.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>

            </p-tabView>
            
            <!--pop-up-->
            <p-dialog header="Detalle" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '90vw', Height: '60vw'}" [maximizable]="true" [baseZIndex]="10000"
            [draggable]="false" [resizable]="false">
                <p-table #dt [columns]="cols" [value]="detailPlanifications" styleClass="p-datatable-lg"
                [scrollable]="true" scrollHeight="700px">
                
                <ng-template pTemplate="header" let-rowData>

                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pEditableRow]="rowData" style="height: 50px;" *ngIf="rowData.id === selectDetailPlanificationId.id">
                        <th colspan="6" style="width:650px">
                            <!--SENESCYT-->
                            <img [src]="'rowData.course.institution.logo'" [alt]="rowData.course.institution.name" width="100" class="p-shadow-4">
                        </th>
                        <th colspan="6" style="width:1200px; text-align: center;">
                            <div>
                                INSTITUTO TECNOLÓGICO SUPERIOR "{{rowData.course.institution.name}}"
                            </div>
                            <div> REGISTRO DE PARTICIPANTES INSCRITOS Y MATRICULADOS</div>
                        </th>
                        <th colspan="6" style="width:650px">
                            <!--YAVIRAC-->
                            <img [src]="'rowData.course.institution.logo'" [alt]="rowData.course.institution.name" width="100" class="p-shadow-4">
                        </th>
                    </tr>

                    <!--Provincia y tipo de curso-->
                    <tr [pEditableRow]="rowData" style="height: 50px;" *ngIf="rowData.id === selectDetailPlanificationId.id">
                        <td colspan="3"><b>PROVINCIA</b></td>
                        <td colspan="5">{{rowData.id}}</td>
                        <td colspan="2"><b>TIPO DE CURSO</b></td>
                        <td colspan="2">ADMINISTRATIVO:</td>
                        <td colspan="2">
                            <div *ngIf="rowData.course.course.name ==='ADMINISTRATIVO'"
                                style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                            <div *ngIf="rowData.course.course.name!='ADMINISTRATIVO'"
                                style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                            </div>
                        </td>
                        <td colspan="2">TÉCNICO:</td>
                        <td colspan="2">
                            <div *ngIf="rowData.course.course.name ==='TÉCNICO'"
                                style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                            <div *ngIf="rowData.course.course.name!='TÉCNICO'"
                                style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                            </div>
                        </td>
                    </tr>

                    <!--Canton y modalidad-->
                    <tr [pEditableRow]="rowData" style="height: 50px;" *ngIf="rowData.id === selectDetailPlanificationId.id">
                        <td colspan="3"><b>CANTON</b></td>
                        <td colspan="5">{{rowData.id}}</td>
                        <td colspan="2"><b>MODALIDAD DEL CURSO:</b></td>
                        <td colspan="2">PRESENCIAL:</td>
                        <td colspan="2">
                            <div *ngIf="rowData.course.modality.name ==='PRESENCIAL'"
                                style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                            <div *ngIf="rowData.course.modality.name!='PRESENCIAL'"
                                style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                            </div>
                        </td>
                        <td colspan="2">VIRTUAL:</td>
                        <td colspan="2">
                            <div *ngIf="rowData.course.modality.name ==='VIRTUAL'"
                                style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                            <div *ngIf="rowData.course.modality.name!='VIRTUAL'"
                                style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                            </div>
                        </td>
                    </tr>

                    <!--Parroquia y duración-->
                    <tr [pEditableRow]="rowData" style="height: 50px;" *ngIf="rowData.id === selectDetailPlanificationId.id">
                        <td colspan="3"><b>PARROQUIA</b></td>
                        <td colspan="5">{{rowData.id}}</td>
                        <td colspan="3"><b>DURACIÓN DEL CURSO:</b></td>
                        
                        <td colspan="7">{{rowData.course.duration}} Horas</td>
                    </tr>

                    <!--Local donde se dictara y fecha de iniciación -->
                    <tr [pEditableRow]="rowData" style="height: 50px;" *ngIf="rowData.id === selectDetailPlanificationId.id">
                        <td colspan="3"><b>LOCAL DONDE SE DICTA</b></td>
                        <td colspan="5">{{rowData.course.local_proposal}}</td>
                        <td colspan="3"><b>FECHA DE INICIACION</b></td>
                        <td colspan="7">{{rowData.date_start}}</td>
                    </tr>

                    <!--convenio, fecha prevista de finalización, horario-->
                    <tr [pEditableRow]="rowData" style="height: 50px;" *ngIf="rowData.id === selectDetailPlanificationId.id">
                        <td colspan="3"><b>CONVENIO</b></td>
                        <td colspan="5">{{rowData.id}}</td>
                        <td colspan="3"><b>FECHA PREVISTA DE FINALIZACION</b></td>
                        <td colspan="2">{{rowData.course.proposed_date}}</td>
                        <td colspan="3"><b>HORARIO DEL CURSO:</b></td>
                        <td colspan="2  " *ngFor="let schedule of rowData.course.schedules">
                            {{schedule.start_time}} - {{schedule.end_time}}
                        </td>
                    </tr>

                    <!--Nombre del curso, fecha de finalización real y codigo-->
                    <tr [pEditableRow]="rowData" style="height: 50px;" *ngIf="rowData.id === selectDetailPlanificationId.id">
                        <td colspan="3"><b>NOMBRE DEL CURSO</b></td>
                        <td colspan="5">{{rowData.course.name}}</td>
                        <td colspan="3"><b>FECHA REAL DE FINALIZACION </b></td>
                        <td colspan="2">{{rowData.date_end}}</td>
                        <td colspan="3"><b>CODIGO DEL CURSO:</b></td>
                        <td colspan="2">
                            {{rowData.course.code}}
                        </td>
                    </tr>

                    <!--Encabezados de la tabla-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id === selectDetailPlanificationId.id">
                        <td colspan="2" rowspan="2" style="width:350px; text-align: center;">
                            <b>APELLIDOS Y NOMBRES</b>
                        </td>
                        <td colspan="1" rowspan="2" style="width:250px; text-align: center;">
                            <b>FECHA DE INICIACION</b>
                        </td>
                        <td colspan="2" rowspan="1" style="width:250px; text-align: center;">
                            <b>SEXO</b>
                        </td>
                        <td colspan="1" rowspan="2" style="width:250px; text-align: center;">
                            <b>EDAD/AÑOS</b>
                        </td>
                        <td colspan="3" rowspan="1" style="width:250px; text-align: center;">
                            <b>NIVEL DE INSTRUCCIÓN</b>
                        </td>
                        <td colspan="4" rowspan="1" style="width:250px; text-align: center;">
                            <b>DATOS DE LA EMPRESA</b>
                        </td>
                        <td colspan="3" rowspan="1" style="width:250px; text-align: center;">
                            <b>DATOS DEL PARTICIPANTE</b>
                        </td>
                        <td colspan="2" rowspan="1" style="width:250px; text-align: center;">
                            <b>RESULTADO</b>
                        </td>
                    </tr>

                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id === selectDetailPlanificationId.id">
                        <td>M</td>
                        <td>F</td>
                        <td>PRI</td>
                        <td>SEC</td>
                        <td>SUP</td>
                        <td>NOMBRE DE LA EMPRESA</td>
                        <td>ACTIVIDAD DE LA EMPRESA</td>
                        <td>DIRECCION  DE LA EMPRESA</td>
                        <td>TELEFONO</td>
                        <td>DIRECCION DOMICILIARIA</td>
                        <td>CELULAR</td>
                        <td>CONVEN</td>
                        <td>INSCRITO</td>
                        <td>MATRIC</td>
                    </tr>

                    <!--cuerpo-->
                    <tr [pEditableRow]="rowData" *ngFor="let detail of detailRegistration">
                    
                        <!--Apellidos Nombres-->
                        <td colspan="2" style="width:250px;">{{detail.detail_registration.registration.participant.user.first_lastname}}
                            {{detail.detail_registration.registration.participant.user.second_lastname}}
                            {{detail.detail_registration.registration.participant.user.first_name}}
                            {{detail.detail_registration.registration.participant.user.second_name}}</td>
                    
                        <!--Fecha de iniciación del curso-->
                        <td style="width:250px;">{{detail.detail_registration.registration.planification.date_start}}</td>
                    
                        <!--Genero ->Masculino -> Femenino-->
                        <td style="width:250px;"
                            *ngIf="detail.detail_registration.registration.participant.user.gender.name === 'MASCULINO'">X</td>
                        <td style="width:250px;"
                            *ngIf="detail.detail_registration.registration.participant.user.gender.name != 'MASCULINO'"></td>
                    
                        <td style="width:250px;"
                            *ngIf="detail.detail_registration.registration.participant.user.gender.name === 'FEMENINO'">X</td>
                        <td style="width:250px;" *ngIf="detail.detail_registration.registration.participant.user.gender.name != 'FEMENINO'">
                        </td>
                    
                        <!--Fecha de nacimiento-->
                        <td style="width:250px;">{{detail.detail_registration.registration.participant.user.birthdate}}</td>
                    
                        <!--Nivel de Instrución ->Primaria ->Secundaria -> Superior-->
                        <td style="width:250px;"
                            *ngIf="detail.detail_registration.registration.additional_information.level_instruction.name === 'PRIMARIA'">X
                        </td>
                        <td style="width:250px;"
                            *ngIf="detail.detail_registration.registration.additional_information.level_instruction.name != 'PRIMARIA'">
                        </td>
                    
                        <td style="width:250px;"
                            *ngIf="detail.detail_registration.registration.additional_information.level_instruction.name === 'SECUNDARIA'">X
                        </td>
                        <td style="width:250px;"
                            *ngIf="detail.detail_registration.registration.additional_information.level_instruction.name != 'SECUNDARIA'">
                        </td>
                    
                        <td style="width:250px;"
                            *ngIf="detail.detail_registration.registration.additional_information.level_instruction.name === 'SUPERIOR'">X
                        </td>
                        <td style="width:250px;"
                            *ngIf="detail.detail_registration.registration.additional_information.level_instruction.name != 'SUPERIOR'">
                        </td>
                    
                        <!--Información de la empresa o institución-->
                        <td style="width:250px;">{{detail.detail_registration.registration.additional_information.company_name}}</td>
                        <td style="width:250px;">{{detail.detail_registration.registration.additional_information.company_activity}}</td>
                        <td style="width:250px;">{{detail.detail_registration.registration.additional_information.company_address}}</td>
                        <td style="width:250px;">{{detail.detail_registration.registration.additional_information.company_phone}}</td>
                    
                        <!--Información del participante-->
                        <td style="width:250px;">{{detail.detail_registration.registration.participant.user.id}}</td>
                        <td style="width:250px;">{{detail.detail_registration.registration.participant.user.id}}</td>
                        <td style="width:250px;">{{detail.detail_registration.registration.participant.user.id}}</td>
                    
                        <!--Resultado-->
                        <td style="width:250px;">{{detail.detail_registration.registration.participant.user.id}}</td>
                        <td style="width:250px;">{{detail.detail_registration.registration.participant.user.id}}</td>
                    
                    </tr>
                </ng-template>

                <ng-template pTemplate="footer">
                    <tr>
                        <td colspan="18" class="p-text-center" style="text-align: justify;">
                            <p> <b>Nota:</b> Este formulario es para uso directo del Docente Responsable del Curso de Capacitación, como archvo digital, puede hacer uso del mismo colocando las firmas de responsabilidad como imagen dento del documento Excell. </p>
                        </td>
                    </tr>
                </ng-template>

                </p-table>
            </p-dialog>
    </div>
    </div>
</div>
