<!--inicio alerta confirmación-->
<p-confirmDialog [style]="{width: '425px'}"></p-confirmDialog>
<!--fin alerta confirmación-->

<!--inicio mensajes de error y validación-->
<p-toast id="toast" key="tst"></p-toast>
<!--fin mensajes de error y validación-->

<!--inicio modal procesar petición-->
<div class="process-modal" id="process-modal-fade">
    <div class="process-modal-content">
        <img src="assets/layout/images/spinner.png" />
        <p style="color: white;">Cargando...</p>
    </div>
</div>
<!--fin modal procesar petición-->

<div class="container">
   <!-- inicio modal crear item catálogos-->
   <div class="modal-register" id="modal-register">
    <div class="modal-flex">
        <div class="flex-container">
            <div class="flex-header">
                <span (click)="closeModalItem()" id="close_modal"><i class="pi pi-times"></i></span>
            </div>
            <div class="text-center">
                <h1 id="flex-titulo">Crear item catálogo</h1>
            </div>
            <div class="flex-modal">
                <form [formGroup]="formCatalogue" (ngSubmit)="createCatalogueItem()" id="form-modal">
                    <div class="mt-0">
                        <div class="form">
                            <label for="name" class="text-bold">Nombre catálogo <i class="asterisk">*</i> </label><br />
                            <input class="mb mt form-control text-uppercase" pInputText type="text" id="name" name="name" formControlName="name" [(ngModel)]="name" required />
                        </div>
                        <div *ngIf="formCatalogue.get('name').errors && formCatalogue.get('name').touched">
                            <p-message severity="warn" text="Campo nombre es obligatorio" *ngIf="formCatalogue.get('name').hasError('required')"></p-message>
                            <p-message severity="warn" text="Debe ingresar mínimo 4 dígitos" *ngIf="formCatalogue.get('name').hasError('minlength')"></p-message>
                            <p-message severity="warn" text="Debe ingresar máximo 50 dígitos" *ngIf="formCatalogue.get('name').hasError('maxLength')"></p-message>
                            <p-message severity="warn" text="Debe ingresar un formato válido" *ngIf="formCatalogue.get('name').hasError('pattern')"></p-message>
                        </div>
                    </div>

                    <div class="mt-0">
                        <div class="form">
                            <label for="type" class="text-bold">Tipo catálogo <i class="asterisk">*</i> </label><br />
                            <input class="mb mt form-control text-uppercase" pInputText type="text" id="type" name="type" formControlName="type" [(ngModel)]="type" required />
                        </div>
                        <div *ngIf="formCatalogue.get('type').errors && formCatalogue.get('type').touched">
                            <p-message severity="warn" text="Campo nombre es obligatorio" *ngIf="formCatalogue.get('type').hasError('required')"></p-message>
                            <p-message severity="warn" text="Debe ingresar mínimo 4 dígitos" *ngIf="formCatalogue.get('type').hasError('minlength')"></p-message>
                            <p-message severity="warn" text="Debe ingresar máximo 50 dígitos" *ngIf="formCatalogue.get('type').hasError('maxLength')"></p-message>
                            <p-message severity="warn" text="Debe ingresar un formato válido" *ngIf="formCatalogue.get('type').hasError('pattern')"></p-message>
                        </div>
                    </div>

                    <div class="div mt display-none">
                        <label for="parent_id" class="text-bold">Referencia padre</label><br />
                        <div class="flex-check mt mb">
                            <label class="radio">
                                Asociar
                                <input type="radio" id="reference" name="radio" />
                                <span class="check"></span>
                            </label>
                            <label class="radio">
                                Ninguna
                                <input type="radio" checked="checked" id="nan_reference" name="radio" />
                                <span class="check"></span>
                            </label>
                        </div>
                    </div>
                    <div class="mt-5 display-none " id="remove">
                        <div class="form">
                            <label class="text-bold" for="parent_id">Seleccione referencia</label>
                            <div class="form-control mt">
                                <p-dropdown [style]="{'width':'100%'}" [options]="allCatalogues" name="parent_id" formControlName="parent_id" [(ngModel)]="parent_id" [filter]="true" required>
                                    <ng-template let-item pTemplate="selectedItem">
                                        <div id="ng-template">
                                            <i id="catalogue-table" class="{{item.value}}"></i>
                                            <span id="span-table">{{item.label}}</span>
                                        </div>
                                    </ng-template>
                                    <ng-template let-object pTemplate="item">
                                        <div id="ng-template">
                                            <i id="catalogue-table" class="{{object.value}}"></i>
                                            <span id="span-table">{{object.value}}</span>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </div>
                        </div>
                        <div *ngIf="formCatalogue.get('parent_id').errors && formCatalogue.get('parent_id').touched">
                            <p-message severity="warn" text="Seleccione una referencia padre" *ngIf="formCatalogue.get('parent_id').hasError('required')"></p-message>
                        </div>
                    </div>

                    <div class="mt">
                        <label class="text-bold" for="icon">Seleccione icono</label>
                        <div class="form-control mt">
                            <p-dropdown [style]="{'width':'100%'}" [options]="listIcons" name="icon" formControlName="icon" [(ngModel)]="icon" [filter]="true">
                                <ng-template let-item pTemplate="selectedItem">
                                    <div id="ng-template">
                                        <i id="icon-table" class="{{item.label}}"></i>
                                        <span id="span-table">{{item.value}}</span>
                                    </div>
                                </ng-template>
                                <ng-template let-object pTemplate="item">
                                    <div id="ng-template">
                                        <i id="icon-table" class="{{object.label}}"></i>
                                        <span id="span-table">{{object.value}}</span>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="mt">
                        <label class="text-bold" for="float-input-icon">Seleccione color</label>
                        <div class="form-control mt">
                            <p-dropdown [style]="{'width':'100%'}" [options]="listColor" id="color" name="color" formControlName="color" [(ngModel)]="color" [filter]="true">
                                <ng-template let-item pTemplate="selectedItem">
                                    <div id="ng-template">
                                        <i id="color-table" [ngStyle]="{'background-color': item.value}"></i>
                                        <span id="span-table">{{item.value}}</span>
                                    </div>
                                </ng-template>
                                <ng-template let-object pTemplate="item">
                                    <div id="ng-template">
                                        <i id="color-table" [ngStyle]="{'background-color': object.value}"></i>
                                        <span id="span-table">{{object.value}}</span>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="mt">
                        <div class="form">
                            <label for="description" class="text-bold">Descripción</label><br />
                            <input class="mb mt form-control" pInputText type="text" id="description" name="description" formControlName="description" [(ngModel)]="description" />
                        </div>
                    </div>

                    <div class="mt">
                        <button type="submit" label="Registrar catálogo" pButton></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- fin modal crear item catálogos-->

    <p-header>
        <h1 class="text-center">Gestión de Catálogos</h1>
    </p-header>

    <!-- inicio vista principal-->
    <div class="p-col-12 p-lg-12">
        <div class="card orders-table">
            <p-table #dt [columns]="cols" [value]="catalogues" [paginator]="true" [rows]="10" totalRecords="totalRecords" pageLinks="3" [responsive]="true">
                <ng-template pTemplate="caption">
                    <div class="main-form">
                        <div class="item-form" id="form-search">
                            <div class="srch_wrpr">
                                <input type="checkbox" name="" class="checkbox" />
                                <div class="srch_sb_cnt">
                                    <input type="text" name="text_bar" id="" class="sech_txt_inpt" placeholder="Buscar por nombre o tipo de catálogo..." (input)="dt.filterGlobal($event.target.value, 'contains')" title="Buscar catálogo" />
                                    <button class="srch_btn" title="Buscar catálogo">
                                        <i class="pi pi-search" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="item-form" id="form-group">
                            <div class="input-group mr">
                                <div class="mt-0">
                                    <button (click)="openModalItem()" class="mb mt btn-register" title="Registrar nuevo catálogo"><i id="add" class="pi pi-user-plus"></i> Nuevo catálogo</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">

                    <div *ngIf="rowData.created_state === 'NUEVO'">
                        <sup [ngStyle]="rowData.created_state === 'NUEVO' && {'cursor':'pointer'}" (click)="viewCatalogue(rowData.id, rowData.created_state)" class="nuevo" id="{{rowData.id}}">NUEVO</sup>
                    </div>

                    <tr id="tbody">
                        <td class="text-center">
                            {{rowData.name_parent === null ? '-' : rowData.name_parent}}
                        </td>
                        <td class="text-center" id="key">{{rowData.code}}</td>
                        <td class="text-center">{{rowData.name}}</td>
                        <td class="text-center">
                            {{rowData.description === '' || rowData.description === null ? '-' : rowData.description}}
                        </td>
                        <td class="text-center">{{rowData.type}}</td>
                        <td class="text-center"> 
                            <div id="icon_view">
                                <i id="icon-table" class="{{rowData.icon}}"></i>
                                {{rowData.icon === '' ? '-' : rowData.icon}}
                            </div>
                        </td>
                        <td id="p-check">
                            <div id="move-flex">
                                <label class="checkbox text-center not-allowed">
                                    <input type="checkbox" class="estado-check" checked='{{rowData.state_id === 1 ? "checked" : ""}}' (click)="updateState(rowData.id, rowData.name)" disabled="disabled"/>
                                    <span class="check"></span>
                                </label>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <!-- fin vista principal-->
</div>
