<div class="landing-body">
    <div id="meet-mirage" class="p-col-12">
        <div style="text-align: center; padding-top: 30px;">
            <h1>Centro de Educación Continua "Yavirac"</h1>
        </div>
        <div class="section" style="padding-top: 20px;">
            <div class="p-grid">
                <div class="p-col-1" style="text-align: center; margin-top: 0px;"><button type="button" label="" pButton
                        routerLink="/cecy/reports/form_a2" icon="pi pi-arrow-left"></button></div>
                <div class="p-col-11">
                        <h3>INSCRIPCIÓN PARA CURSOS DE CAPACITACIÓN</h3>
                </div>
            </div>
        </div>

        <div style="padding-left: 70px; padding-right: 70px;">
            <p-tabView>
                <p-tabPanel header="Lista">
                    <p-table [columns]="cols" [value]="detailRegistration" [loading]="loading">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th colspan="3" pSortableColumn="course.name">
                                    Lista de inscriptos
                                    <p-sortIcon field="course.name"></p-sortIcon>
                                </th>
                                <th colspan="2" pSortableColumn="course.institution.name">
                                    Course
                                    <p-sortIcon field="course.institution.name"></p-sortIcon>
                                </th>
                                <th colspan="3" pSortableColumn="course.institution.name">
                                    Institución
                                    <p-sortIcon field="course.institution.name"></p-sortIcon>
                                </th>
                                <th colspan="1" style="text-align: center; width: 270px;">
                                    Detalle
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pEditableRow]="rowData">
                                <td colspan="3">
                                    {{rowData.detail_registration.registration.participant.user.first_lasname}} {{rowData.detail_registration.registration.participant.user.second_lastname}} {{rowData.detail_registration.registration.participant.user.first_name}} {{rowData.detail_registration.registration.participant.user.second_name}}
                                </td>
                                <td colspan="2">
                                    {{rowData.detail_registration.registration.planification.course.name}}
                                </td>

                                <td colspan="3">
                                    {{rowData.detail_registration.registration.planification.course.institution.denomination}} {{rowData.detail_registration.registration.planification.course.institution.name}}
                                </td>

                                <td style="text-align: center;">
                                    <button type="text" icon="pi pi-external-link" style="margin-left: 5px; margin-top: 5px;" 
                                    pButton label="Ver detalle" (click)=" onSelect(rowData); showMaximizableDialog();"></button>
                                    <button type="button" icon="pi pi-file-pdf" label="Descargar" pButton
                                    style="background-color: rgb(200, 12, 12); margin-left: 5px; margin-top: 5px;" 
                                    (click)="pdf(rowData.id)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="5"><h4>Data not found or information avalide on the datbese.</h4></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
            </p-tabView>
            
            <!--pop-up-->
            <p-dialog header="Detalle" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '90vw', Height: '60vw'}" [maximizable]="true" [baseZIndex]="10000"
            [draggable]="false" [resizable]="false">
                <p-table id="b1" [columns]="cols" [value]="detailRegistration" styleClass="p-datatable-lg"
                [scrollable]="true" scrollHeight="1000px">
                <ng-template pTemplate="header">
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pEditableRow]="rowData" *ngIf="rowData.id==selectDetailRegistrationId.id">
                        <td style="width:250px">
                            <!--SENESCYT-->
                            Imagen1
                        </td>
                        <td style="width:250px">
                            INSTITUTO TECNOLÓGICO SUPERIOR "{{rowData.detail_registration.registration.planification.course.institution.name}}"
                        </td>
                        <td style="width:250px">
                            <!--YAVIRAC-->
                            <img [src]="'rowData.detail_registration.registration.planification.course.institution.logo'" [alt]="rowData.detail_registration.registration.planification.course.institution.short_name" width="100" class="p-shadow-4">
                        </td>
                    </tr>
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectDetailRegistrationId.id">
                        <td colspan="3" style="width:250px; text-align: center;">
                            <h3>INSCRIPCIÓN PARA CURSOS DE CAPACITACIÓN</h3>
                        </td>
                    </tr>
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectDetailRegistrationId.id">
                        <td colspan="3" style="width:250px; text-align: center;">
                            <b>CÓDIGO DEL CURSO:</b> {{rowData.detail_registration.registration.planification.course.code}}
                        </td>
                    </tr>
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectDetailRegistrationId.id">
                        <td colspan="3" style="width:250px; text-align: left;">
                            <b>Nombre del Course:</b> {{rowData.detail_registration.registration.planification.course.name}}
                        </td>
                    </tr>




                    <!--Modalidad-->
                <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectDetailRegistrationId.id">
                    <td colspan="1" style="width:250px; text-align: left;">
                        <b>Modalidad del Curso:</b>
                    </td>
                    <td colspan="1" style="width:250px; text-align: left;">
                        <div class="p-grid">
                            <div class="p-col-6"><b>Presencial:</b></div>
                            <div class="p-col-6">
                                <div *ngIf="rowData.detail_registration.registration.planification.course.modality.name==='PRESENCIAL'"
                                    style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                <div *ngIf="rowData.detail_registration.registration.planification.course.modality.name!='PRESENCIAL'"
                                    style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                </div>
                            </div>
                        </div>
                    </td>
                    <td colspan="1" style="width:250px; text-align: left;">
                        <div class="p-grid">
                            <div class="p-col-6"><b>Virtual:</b></div>
                            <div class="p-col-6">
                                <div *ngIf="rowData.detail_registration.registration.planification.course.modality.name==='VIRTUAL'"
                                    style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                <div *ngIf="rowData.detail_registration.registration.planification.course.modality.name!='VIRTUAL'"
                                    style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>







                    <!--Datos personales-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectDetailRegistrationId.id">
                        <td colspan="3" style="width:250px; text-align: center;">
                            <h4>DATOS PERSONALES</h4>
                        </td>
                    </tr>

                    <!--Nombre apellido-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectDetailRegistrationId.id">
                        <td colspan="3" style="width:250px;">
                            <b>Apellidos y Nombres:</b> {{rowData.detail_registration.registration.participant.user.first_lastname}} {{rowData.detail_registration.registration.participant.user.second_lastname}} {{rowData.detail_registration.registration.participant.user.first_name}}
                            {{rowData.detail_registration.registration.participant.user.second_name}}
                        </td>
                    </tr>

                    <!--Cédula de Ciudadanía: y Fecha de nacimiento-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectDetailRegistrationId.id">
                        <td colspan="1" style="width:250px;">
                            <b>Cédula de Ciudadanía: </b> {{rowData.detail_registration.registration.participant.user.identification}}
                        </td>
                        <td colspan="1"  style="width:250px;"></td>
                        <td colspan="1"  style="width:250px;">
                            <b>Fecha de nacimiento:</b> {{rowData.detail_registration.registration.participant.user.birthdate}}
                        </td>
                    </tr>
                    
                    <!--Sexo-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectDetailRegistrationId.id">
                        <td style="width:250px; text-align: left;">
                            <b>Genero:</b>
                        </td>
                        <td style="width:250px; text-align: left;">
                            <div class="p-grid">
                                <div class="p-col-6">
                                    <b>Femenino:</b>
                                </div>
                                <div class="p-col-6">
                                    <div *ngIf="rowData.detail_registration.registration.participant.user.gender.name ==='FEMENINO'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.detail_registration.registration.participant.user.gender.name !='FEMENINO'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="width:250px; text-align: left;">
                            <div class="p-grid">
                                <div class="p-col-6">
                                    <b>Maculino:</b>
                                </div>
                                <div class="p-col-6">
                                    <div *ngIf="rowData.detail_registration.registration.participant.user.gender.name ==='MASCULINO'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.detail_registration.registration.participant.user.gender.name !='MASCULINO'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>



                    <!--Etnia-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectDetailRegistrationId.id">
                        <td style="width:250px; text-align: left;">
                            <b>Etnia:</b>
                        </td>
                        <td colspan="2" style="width:250px; text-align: left;">
                            <div class="p-grid">
                                <!--mestizo:-->
                                <div class="p-col-6">
                                    <b>Mestizo:</b>
                                </div>
                                <div class="p-col-6">
                                    <div *ngIf="rowData.detail_registration.registration.participant.user.ethnic_origin.name ==='MESTIZO'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.detail_registration.registration.participant.user.ethnic_origin.name ==='MESTIZO'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                </div>
                                <!--Indígena:-->
                                <div class="p-col-6">
                                    <b>Indígena:</b>
                                </div>
                                <div class="p-col-6">
                                    <div *ngIf="rowData.detail_registration.registration.participant.user.ethnic_origin.name ==='INDIGENA'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.detail_registration.registration.participant.user.ethnic_origin.name != 'INDIGENA'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                </div>
                                <!--Blanco:-->
                                <div class="p-col-6">
                                    <b>Blanco:</b>
                                </div>
                                <div class="p-col-6">
                                    <div *ngIf="rowData.detail_registration.registration.participant.user.ethnic_origin.name === 'BLANCO'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.detail_registration.registration.participant.user.ethnic_origin.name != 'BLANCO'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                </div>
                                <!--Afroecutoriano:-->
                                <div class="p-col-6">
                                    <b>Afroecutoriano:</b>
                                </div>
                                <div class="p-col-6">
                                    <div *ngIf="rowData.detail_registration.registration.participant.user.ethnic_origin.name === 'NEGRO'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.detail_registration.registration.participant.user.ethnic_origin.name != 'NEGRO'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                </div>
                                <!--Otros:-->
                                <div class="p-col-6">
                                    <b>Otros:</b>
                                </div>
                                <div class="p-col-6">
                                    <div *ngIf="rowData.detail_registration.registration.participant.user.ethnic_origin.name ==='OTRO'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.detail_registration.registration.participant.user.ethnic_origin.name !='OTRO'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <!--Dirección Domiciliaria:-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectDetailRegistrationId.id">
                        <td colspan="3" style="width:250px;">
                            <b>Dirección Domiciliaria:</b> {{rowData.code}}
                        </td>
                    </tr>

                    <!--Nro. Telefónico:-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectDetailRegistrationId.id">
                        <td colspan="1" style="width:250px;">
                            <b>Nro. Telefónico: </b>
                        </td>
                        <td colspan="1"  style="width:250px;">
                            <b>Convencional: </b> {{rowData.code}}
                        </td>
                        <td colspan="1"  style="width:250px;">
                            <b>Celular: </b> {{rowData.code}}
                        </td>
                    </tr>

                    <!--Correo electrónico:-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectDetailRegistrationId.id">
                        <td colspan="3" style="width:250px;">
                            <b>Correo electrónico:</b> {{rowData.detail_registration.registration.participant.user.email}}
                        </td>
                    </tr>

                    <!--Nivel de instrucción:-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectDetailRegistrationId.id">
                        <td style="width:250px; text-align: left;">
                            <b>Nivel de instrucción:</b>
                        </td>
                        <td colspan="2" style="width:250px; text-align: left;">
                            <div class="p-grid">
                                <!--Primaria:-->
                                <div class="p-col-6">
                                    <b>Primaria:</b>
                                </div>
                                <div class="p-col-6">
                                    <div *ngIf=" rowData.detail_registration.registration.additional_information.level_instruction.name === 'PRIMARIA'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.detail_registration.registration.additional_information.level_instruction.name != 'PRIMARIA'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                </div>
                                <!--Secundaria:-->
                                <div class="p-col-6">
                                    <b>Secundaria:</b>
                                </div>
                                <div class="p-col-6">
                                    <div *ngIf="rowData.detail_registration.registration.additional_information.level_instruction.name ==='SECUNDARIA'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.detail_registration.registration.additional_information.level_instruction.name != 'SECUNDARIA'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                </div>
                                <!--Superior:-->
                                <div class="p-col-6">
                                    <b>Superior:</b>
                                </div>
                                <div class="p-col-6">
                                    <div *ngIf="rowData.detail_registration.registration.additional_information.level_instruction.name === 'SUPERIOR'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.detail_registration.registration.additional_information.level_instruction.name !='SUPERIOR'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <!--INFORMACIÓN LABORAL / ESTUDIOS-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectDetailRegistrationId.id">
                        <td colspan="3" style="width:250px; text-align: center;">
                            <h2>INFORMACIÓN LABORAL / ESTUDIOS</h2>
                        </td>
                    </tr>

                    <!--Institución donde trabaja / Estudia:-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectDetailRegistrationId.id">
                        <td colspan="3" style="width:250px;">
                            <b>Institución donde trabaja / Estudia:</b> {{rowData.detail_registration.registration.additional_information.company_name}}
                        </td>
                    </tr>

                    <!--Dirección de la institución:-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectDetailRegistrationId.id">
                        <td colspan="3" style="width:250px;">
                            <b>Dirección de la institución:</b> {{rowData.detail_registration.registration.additional_information.company_address}}
                        </td>
                    </tr>

                    <!--Correo electrónico de la institución:-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectDetailRegistrationId.id">
                        <td colspan="3" style="width:250px;">
                            <b>Correo electrónico de la institución:</b> 
                        </td>
                    </tr>

                    <!--Número telefónico de la institución:-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectDetailRegistrationId.id">
                        <td colspan="3" style="width:250px;">
                            <b>Número telefónico de la institución:</b> {{rowData.detail_registration.registration.additional_information.company_phone}}
                        </td>
                    </tr>

                    <!--Actividad de la institución:-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectDetailRegistrationId.id">
                        <td colspan="3" style="width:250px;">
                            <b>Actividad de la institución:</b> {{rowData.detail_registration.registration.additional_information.company_activity}}
                        </td>
                    </tr>

                    <!--¿El curso es auspiciado por la institución?:-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectDetailRegistrationId.id">
                        <td colspan="1" style="width:250px;">
                            <b>¿El curso es auspiciado por la institución?: </b>
                        </td>
                        <td colspan="1"  style="width:250px;">
                            <div class="p-gird">
                                <!--si:-->
                                <div class="p-col-6">
                                    <b>si:</b>
                                </div>
                                <div class="p-col-6">
                                    <div *ngIf="rowData.detail_registration.registration.additional_information.company_sponsor === true"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                        <div *ngIf="rowData.detail_registration.registration.additional_information.company_sponsor != true"
                                        style="border: 1px solid black; width: 20px; text-align: center;"></div>
                                </div>
                            </div>
                        </td>
                        <td colspan="1"  style="width:250px;">
                            <div class="p-gird">
                                <!--no:-->
                                <div class="p-col-6">
                                    <b>no:</b>
                                </div>
                                <div class="p-col-6">
                                    <div *ngIf="rowData.detail_registration.registration.additional_information.company_sponsor === false"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                    <div *ngIf="rowData.detail_registration.registration.additional_information.company_sponsor !=false"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <!--Si está auspiciado, indique el nombre de contacto:-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectDetailRegistrationId.id">
                        <td colspan="3" style="width:250px;">
                            <b>Si está auspiciado, indique el nombre de contacto:</b> 
                            <p *ngIf="rowData.detail_registration.registration.additional_information.company_sponsor === true" >{{rowData.detail_registration.registration.additional_information.name_contact}}</p>
                            <p *ngIf="rowData.detail_registration.registration.additional_information.company_sponsor != false" ></p>
                        </td>
                    </tr>

                    <!--¿Cómo se enteró del curso?-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectDetailRegistrationId.id">
                        <td colspan="3" style="width:250px;">
                            <b>¿Cómo se enteró del curso?</b>
                            <div *ngFor=" let knowCourse of rowData.detail_registration.registration.additional_information.know_course">{{knowCourse}}</div> 
                        </td>
                    </tr>

                    <!--¿Qué otros cursos le gustaría seguir?-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectDetailRegistrationId.id">
                        <td colspan="3" style="width:250px;">
                            <b>¿Qué otros cursos le gustaría seguir?</b>
                            <div *ngFor=" let followCourse of rowData.detail_registration.registration.additional_information.course_follow">{{followCourse}}</div> 
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="3"><h4>Data not found.</h4></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr>
                        <td colspan="3" class="p-text-center" style="text-align: justify;">
                            <p> <b>Nota:</b> Para el caso de una inscripción fìsica, se tomará en cuenta la impresiòn del siguiente formulario, en caso de que sea un registro digital, se solicita adjuntar unicamente la imagen de la firma del solicitante en el documento para el archivo del Instituto. </p>
                        </td>
                    </tr>
                </ng-template>
                </p-table>
            </p-dialog>
        </div>
    </div>
</div>
