<p-toast></p-toast>
<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple icon="pi pi-plus" label=""
                        class="p-button-info p-button-raised p-button-lg p-button-rounded p-mr-2"
                        (click)="openModal(null)" [pTooltip]="'Nuevo registro'"></button>
                </ng-template>
            </p-toolbar>
            <p-table [responsive]="true" [value]="classrooms" [columns]="cols" [(selection)]="ClassroomSelect"
                [rowHover]="true" dataKey="id" [paginator]="true" [rows]="10">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        <h5 class="p-m-0">Administración de Aulas</h5>
                       <!-- <span class="p-input-icon-right">
                            <p-dropdown #selectedCol [options]="cols" optionLabel="header"
                                class="p-text-uppercase p-m-2" (onChange)="selectColSearch(selectedCol.value)">
                            </p-dropdown>
                            <i class="pi pi-search" (click)="search($event,inputSearch.value)"></i>
                            <input #inputSearch pInputText type="text" placeholder="Buscar..."
                                class="p-text-uppercase p-m-2" (keyup.enter)="search($event,inputSearch.value)"
                                (keyup.backspace)="search($event,inputSearch.value)" />
                        </span>-->
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="code" style="width: 10rem">Código
                            <p-sortIcon field="code"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name"  >Nombre
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="capacity"  >Capacidad
                            <p-sortIcon field="capacity"></p-sortIcon>
                        </th>
                        <th pSortableColumn="type">Tipo
                            <p-sortIcon field="Type"></p-sortIcon>
                        </th>

                        <th>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns=columns>
                    <tr *ngIf="rowData.state_id == 1">
                        <td>
                            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                        </td>
                        <td>{{rowData.code}}</td>
                        <td>{{rowData.name}}</td>
                        <td>{{rowData.capacity}}</td>
                        <td>{{rowData.type.name}}</td>
                        <td>

                            <input type="file" #justInput  class="inputfile" (change)="loadFile($event,rowData)" accept="image/*">
                            <button pButton pRipple icon="pi pi-user-edit"
                                class="p-button-rounded p-button-raised p-mr-2" (click)="openModal(rowData)"
                                [pTooltip]="'Editar registro'"></button>
                            <button pButton pRipple icon="pi pi-times"
                                class="p-button-rounded p-button-danger p-button-raised" (click)="delete(rowData)"
                                [pTooltip]="'Eliminar registro'"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        <span *ngIf="paginator.total===0"> No hay registros.</span>
                        <span *ngIf="paginator.total>0"> {{paginator.total}} registros.</span>
                        <p-paginator *ngIf="paginator.total>0" [rowsPerPageOptions]="rowsPerPageOptions"
                            [rows]="paginator.per_page" [totalRecords]="paginator.total"
                            (onPageChange)="paginate($event)"></p-paginator>
                    </div>
                </ng-template>
            </p-table>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
            <p-dialog [(visible)]="dialog" [style]="{width: '50vw'}" [baseZIndex]="10000" header="Details" [modal]="true"
                styleClass="p-fluid" [maximizable]="true">
                <ng-template pTemplate="content">
                    <div class="p-formgrid p-grid">
                        <div class="p-field p-col">
                            <label for="code">Código:
                            </label>
                            <input id="code" type="text" pInputText formControlName="code">
                        </div>
                        <div class="p-field p-col">
                            <label for="name">Nombre:</label>
                            <input id="name" type="text" pInputText formControlName="name">
                        </div>
                    </div>
                    <div class="p-formgrid p-grid">
                        <div class="p-field p-col">
                            <label for="type">Tipo:</label>
                            <p-dropdown id="type" [options]="catalogues" 
                                formControlName="type" [virtualScroll]="true" 
                                placeholder="Seleciona un Tipo">
                            </p-dropdown>
                        </div>
                        <div class="p-field p-col">
                            <label for="capacity">Capacidad:</label>
                            <input id="capacity" type="number" pInputText formControlName="capacity"> </div>
                    </div>
                    <div class="p-formgrid p-grid"><br><br></div>

                </ng-template>


                <ng-template pTemplate="footer">
                    <button type="button" pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                        (click)="dialog=false"></button>
                    <button type="submit" pButton pRipple label="Guardar" icon="pi pi-save"
                        class="p-button-raised"></button>
                </ng-template>

            </p-dialog>
        </form>

    </div>
</div>