<div class="landing-body">
    <div id="meet-mirage" class="p-col-12">
        <div style="text-align: center; padding-top: 50px;">
            <h1>Centro de Educación Continua "Yavirac"</h1>
        </div>
        
        <div class="section" style="padding-top: 20px;">
            <p-toast key="myKey1" position="top-right" [baseZIndex]="50000"></p-toast> 
            <div class="p-grid">
                <div class="p-col-1" style="text-align: center; margin-top: 0px;"><button type="button" label="" pButton routerLink="/cecy/reports/list" icon="pi pi-arrow-left"></button></div>
                <div class="p-col-11">
                        <h3>PROGRAMACIÓN DE CURSOS DE CAPACITACIÓN MENSUAL</h3>
                </div>
            </div>
        </div>
        
        <div style="padding-left: 70px; padding-right: 70px;">
            <p-tabView>
                <p-tabPanel header="Todo">
                    <h5>TODO LOS INSTITUTOS</h5>
                    <p-table dataKey="id"
                    [columns]="cols" 
                    [value]="detailPlanification"
                    [showCurrentPageReport]="true" 
                    [rowsPerPageOptions]="[10,25,50]" 
                    [loading]="loading"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [globalFilterFields]="['name','detailPlanification.date_start','representative.name','status']">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th pSortableColumn="id">
                                    Planificación 
                                    <p-sortIcon field="id"></p-sortIcon>
                                </th>
                                <th pSortableColumn="date_start">
                                    Fecha inició
                                    <p-sortIcon field="date_start"></p-sortIcon>
                                </th>
                                <th pSortableColumn="date_end">        
                                    Fecha Fin
                                    <p-sortIcon field="date_end"></p-sortIcon>
                                </th>
                                <th style="text-align: center;">
                                    Detalle
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData  let-columns="columns">
                            <tr [pEditableRow]="rowData">
                                <td >
                                    Planificación {{rowData.course.institution.denomination}} {{rowData.course.institution.short_name}}
                                </td>
                                <td >
                                    {{rowData.date_start | date: 'MM/dd/yyyy'}}
                                </td>
                                <td >
                                    {{rowData.date_end | date: 'MM/dd/yyyy'}}
                                </td>
                                <td style="text-align: center;">
                                    <button type="text" icon="pi pi-external-link" style="margin-left: 5px; margin-top: 5px;" 
                                    pButton label="Ver detalle" (click)=" onSelect(rowData); showMaximizableDialog();"></button>
                                    <button type="button" icon="pi pi-file-pdf" label="Descargar" pButton
                                    style="background-color: rgb(200, 12, 12); margin-left: 5px; margin-top: 5px;" 
                                    (click)="pdf(rowData.id)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="4">Data not found or information not available in the database.</td>
                        </tr>
                    </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Yavirac">
                    <h5>INSTITUTO SUPERIO TECNOLOGICO DE TURISMO Y PATRIMONIO YAVIRAC</h5>
                    <p-table dataKey="id"
                    [columns]="cols" 
                    [value]="detailPlanification"
                    [showCurrentPageReport]="true" 
                    [rowsPerPageOptions]="[10,25,50]" 
                    [loading]="loading"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [globalFilterFields]="['name','detailPlanification.date_start','representative.name','status']">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th pSortableColumn="id">
                                    Planificación 
                                    <p-sortIcon field="id"></p-sortIcon>
                                </th>
                                <th pSortableColumn="date_start">
                                    Fecha inició
                                    <p-sortIcon field="date_start"></p-sortIcon>
                                </th>
                                <th pSortableColumn="date_end">        
                                    Fecha Fin
                                    <p-sortIcon field="date_end"></p-sortIcon>
                                </th>
                                <th>
                                    Detalle
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData  let-columns="columns">
                            <tr [pEditableRow]="rowData" *ngIf="rowData.course.institution.short_name === 'YAVIRAC'">
                                <td >
                                    Planificación {{rowData.course.institution.denomination}} {{rowData.course.institution.short_name}}
                                </td>
                                <td >
                                    {{rowData.date_start | date: 'MM/dd/yyyy'}}
                                </td>
                                <td >
                                    {{rowData.date_end | date: 'MM/dd/yyyy'}}
                                </td>
                                <td style="text-align: center;">
                                    <button type="text" icon="pi pi-external-link" style="margin-left: 5px; margin-top: 5px;" 
                                    pButton label="Ver detalle" (click)=" onSelect(rowData); showMaximizableDialog();"></button>
                                    <button type="button" icon="pi pi-file-pdf" label="Descargar" pButton
                                    style="background-color: rgb(200, 12, 12); margin-left: 5px; margin-top: 5px;" 
                                    (click)="pdf(rowData.id)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="4">Data not found or information not available in the database.</td>
                        </tr>
                    </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Gran Colombia">
                    <h5>INSTITUTO SUPERIO TECNOLOGICO GRAN COLOMBIA</h5>
                    <p-table dataKey="id"
                    [columns]="cols" 
                    [value]="detailPlanification"
                    [showCurrentPageReport]="true" 
                    [rowsPerPageOptions]="[10,25,50]" 
                    [loading]="loading"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [globalFilterFields]="['name','detailPlanification.date_start','representative.name','status']">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th pSortableColumn="id">
                                    Planificación 
                                    <p-sortIcon field="id"></p-sortIcon>
                                </th>
                                <th pSortableColumn="date_start">
                                    Fecha inició
                                    <p-sortIcon field="date_start"></p-sortIcon>
                                </th>
                                <th pSortableColumn="date_end">        
                                    Fecha Fin
                                    <p-sortIcon field="date_end"></p-sortIcon>
                                </th>
                                <th style="text-align: center;">
                                    Detalle
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData  let-columns="columns">
                            <tr [pEditableRow]="rowData" *ngIf="rowData.course.institution.short_name === 'GRAN COLOMBIA'">
                                <td >
                                    Planificación {{rowData.course.institution.denomination}} {{rowData.course.institution.short_name}}
                                </td>
                                <td >
                                    {{rowData.date_start | date: 'MM/dd/yyyy'}}
                                </td>
                                <td >
                                    {{rowData.date_end | date: 'MM/dd/yyyy'}}
                                </td>
                                <td style="text-align: center;">
                                    <button type="text" icon="pi pi-external-link" style="margin-left: 5px; margin-top: 5px;" 
                                    pButton label="Ver detalle" (click)=" onSelect(rowData); showMaximizableDialog();"></button>
                                    <button type="button" icon="pi pi-file-pdf" label="Descargar" pButton
                                    style="background-color: rgb(200, 12, 12); margin-left: 5px; margin-top: 5px;" 
                                    (click)="pdf(rowData.id)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="4">Data not found or information not available in the database.</td>
                        </tr>
                    </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Benitó Júarez">
                    <h5>INSTITUTO SUPERIO TECNOLOGICO BENITÓ JÚAREZ</h5>
                    <p-table dataKey="id"
                    [columns]="cols" 
                    [value]="detailPlanification"
                    [showCurrentPageReport]="true" 
                    [rowsPerPageOptions]="[10,25,50]" 
                    [loading]="loading"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [globalFilterFields]="['name','detailPlanification.date_start','representative.name','status']">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th pSortableColumn="id">
                                    Planificación 
                                    <p-sortIcon field="id"></p-sortIcon>
                                </th>
                                <th pSortableColumn="date_start">
                                    Fecha inició
                                    <p-sortIcon field="date_start"></p-sortIcon>
                                </th>
                                <th pSortableColumn="date_end">        
                                    Fecha Fin
                                    <p-sortIcon field="date_end"></p-sortIcon>
                                </th>
                                <th style="text-align: center;">
                                    Detalle
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData  let-columns="columns">
                            <tr [pEditableRow]="rowData" *ngIf="rowData.course.institution.short_name === 'BENITO JUAREZ'">
                                <td >
                                    Planificación {{rowData.course.institution.denomination}} {{rowData.course.institution.short_name}}
                                </td>
                                <td >
                                    {{rowData.date_start | date: 'MM/dd/yyyy'}}
                                </td>
                                <td >
                                    {{rowData.date_end | date: 'MM/dd/yyyy'}}
                                </td>
                                <td style="text-align: center;">
                                    <button type="text" icon="pi pi-external-link" style="margin-left: 5px; margin-top: 5px;" 
                                    pButton label="Ver detalle" (click)=" onSelect(rowData); showMaximizableDialog();"></button>
                                    <button type="button" icon="pi pi-file-pdf" label="Descargar" pButton
                                    style="background-color: rgb(200, 12, 12); margin-left: 5px; margin-top: 5px;" 
                                    (click)="pdf(rowData.id)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="4">Data not found or information not available in the database.</td>
                        </tr>
                    </ng-template>
                    </p-table>
                </p-tabPanel>
            </p-tabView>    

            <!--pop-up-->
            <p-dialog header="Detalle" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '90vw', Height: '60vw'}" [maximizable]="true" [baseZIndex]="10000"
            [draggable]="false" [resizable]="false">

                <div class="section-title" *ngIf="selectDetailId"  style="padding-left: 20px; padding-right: 20px;">
                    <h2>Planificatión mensual desde {{selectDetailId.date_start}} hasta {{selectDetailId.date_end}}</h2>
                </div>
                
                <div style="padding-left: 10px; padding-right: 10px;">
                    <p-table #Planification [columns]="cols" [value]="detailPlanification" styleClass="p-datatable-lg" [paginator]="true"
                        [rows]="20" [scrollable]="true" scrollHeight="1000px" selectionMode="multiple"
                        [(selection)]="selectedListRow">
                        <ng-template pTemplate="header">
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns" >
                            <tr *ngIf="rowData.id==selectDetailId.id">
                                
                                <th colspan="3" style="width:1800px">
                                        <!--SENESCYT-->
                                        Imagen1 
                                </th>
                                <th colspan="6" style="width:650px; text-align: center;">
                                    <div>
                                        "{{rowData.course.institution.denomination}} {{rowData.course.institution.name}}"
                                    </div>
                                    <div> REGISTRO DE PARTICIPANTES INSCRITOS Y MATRICULADOS</div>
                                </th>
                                <th colspan="3" style="width:550px">
                                        <!--YAVIRAC-->
                                        Imagen2
                                </th>
                                <th colspan="1" style="width:250px" *ngFor="let year of years">
                                    <!--YAVIRAC-->
                                    Año {{year}}
                            </th>
                            </tr>

                            <tr *ngIf="rowData.id==selectDetailId.id">
                                <th *ngFor="let col of columns" style="width:450px">
                                    {{col.header}}
                                </th>
                            </tr>

                            <tr *ngIf="rowData.id==selectDetailId.id">   
                                <td style="width:950px">
                                    <!--sector-->
                                    {{rowData.course.specialty.name}}
                                </td>
                                <td style="width:250px">
                                    <!--area-->
                                    {{rowData.course.area.name}}
                                </td>
                                <td style="width:250px">
                                    <!--nombre del curso-->
                                    {{rowData.course.name}}
                                </td>
                                <td style="width:250px">
                                    <!--¿curso occ-->
                                    SI  
                                </td>
                                <td style="width:250px">
                                    <!--duracion-->
                                    {{rowData.course.duration}}
                                </td>
                                <td style="width:250px">
                                    <!--fecha inicio-->
                                    {{rowData.planification.date_start}}
                                </td>
                                <td style="width:250px">
                                    <!--fecha fin-->
                                    {{rowData.planification.date_end}}
                                </td>
                                <td style="width:250px" *ngFor="let s of schedule">
                                    <!--horario desde-->
                                    {{s.start_time}}
                                </td>
                                <td style="width:250px" *ngFor="let s of schedule">
                                    <!--horario desde-->
                                    {{s.end_time}}
                                </td>
                                <td style="width:250px">
                                    <!--Lugar dictado-->
                                    {{rowData.course.local_proposal}}
                                </td>
                                <td style="width:250px">
                                    <!--Número de participantes-->
                                    {{rowData.course.capacity}}
                                </td>
                                <td style="width:250px">
                                    <!--docente-->
                                    {{rowData.instructor.user.first_name}} {{rowData.instructor.user.second_name}} {{rowData.instructor.user.first_lastname}} {{rowData.instructor.user.second_lastname}}
                                </td>
                                <td style="width:250px">
                                    <!--Responsable-->
                                    {{rowData.course.user.first_name}} {{rowData.course.user.second_name}} {{rowData.course.user.first_lastname}} {{rowData.course.user.second_lastname}}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <tr>
                                <td colspan="15" class="p-text-center">
                                    <b>Nota:</b> Este documento deberá generarse de manera mensual sobre la planificación de cursos de capacitación tanto SENESCYT como OCC, respaldado en el Instructivo Capacitación - Certificación por Competencias Laborales de SENESCYT
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-dialog>
        </div>
    </div>
</div>
