<div class="landing-body">
    <div id="meet-mirage" class="p-col-12">
        <div style="text-align: center; padding-top: 30px;">
            <h1>Centro de Educación Continua "Yavirac"</h1>
        </div>
        <div class="section" style="padding-top: 10px;">
            <div class="p-grid">
                <div class="p-col-1" style="text-align: center; margin-top: 10px;"><button type="button" label="" pButton
                        routerLink="/cecy/reports/list" icon="pi pi-arrow-left"></button></div>
                <div class="p-col-11">
                        <h2>REGISTRO FOTOGRÁFICO</h2>
                </div>
            </div>
        </div>
        <div style="padding-left: 70px; padding-right: 70px;">
            <p-tabView>
                <p-tabPanel header="Todo">
                    <h3>TODOS LOS INSTITUTOS</h3>
                    <p-table [columns]="cols" [value]="coursesPhoto" [loading]="loading">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th colspan="2" pSortableColumn="name">
                                    Curso
                                    <p-sortIcon field="name"></p-sortIcon>
                                </th>
                                <th colspan="2" pSortableColumn="Instituto.name">
                                    Institución
                                    <p-sortIcon field="Instituto.name"></p-sortIcon>
                                </th>
                                <th colspan="1" style="width: 300px; text-align: center;">
                                    Detalle
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pEditableRow]="rowData">
                                <td colspan="2">
                                    {{rowData.name}}
                                </td>
                                <td colspan="2">
                                    {{rowData.institution.denomination}} {{rowData.institution.short_name}}
                                </td>
                                <td style="text-align: center;">
                                    <button type="text" icon="pi pi-external-link" style="margin-left: 5px; margin-top: 5px;" 
                                    pButton label="Ver detalle" (click)=" onSelect(rowData); showMaximizableDialog();"></button>
                                    <button type="button" icon="pi pi-file-pdf" label="Descargar" pButton
                                    style="background-color: rgb(200, 12, 12); margin-left: 5px; margin-top: 5px;" 
                                    (click)="pdf(rowData.id)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="5">No data found.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Yavirac">
                    <h3>INSTITUTO SUPERIO TECNOLOGICO DE TURISMO Y PATIMONIO YAVIRAC</h3>
                    <p-table [columns]="cols" [value]="coursesPhoto" [loading]="loading">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th colspan="2" pSortableColumn="name">
                                    Curso
                                    <p-sortIcon field="name"></p-sortIcon>
                                </th>
                                <th colspan="2" pSortableColumn="Instituto.name">
                                    Institución
                                    <p-sortIcon field="Instituto.name"></p-sortIcon>
                                </th>
                                <th colspan="1" style="width: 250px;">
                                    Detalle
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pEditableRow]="rowData" *ngIf="rowData.institution.short_name === 'YAVIRAC'">
                                <td colspan="2">
                                    {{rowData.name}}
                                </td>
                                <td colspan="2">
                                    {{rowData.institution.denomination}} {{rowData.institution.short_name}}
                                </td>
                                <td style="width: 250px;">
                                    <button type="text" icon="pi pi-external-link" style="margin-left: 5px; margin-top: 5px;" 
                                    pButton label="Ver detalle" (click)=" onSelect(rowData); showMaximizableDialog();"></button>
                                    <button type="button" icon="pi pi-file-pdf" label="Descargar" pButton
                                    style="background-color: rgb(200, 12, 12); margin-left: 5px; margin-top: 5px;" 
                                    (click)="pdf(rowData.id)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="5">No data found.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Gran Colombia">
                    <h3>INSTITUTO SUPERIO TECNOLOGICO GRAN COLOMBIA</h3>
                    <p-table [columns]="cols" [value]="coursesPhoto" [loading]="loading">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th colspan="2" pSortableColumn="name">
                                    Curso
                                    <p-sortIcon field="name"></p-sortIcon>
                                </th>
                                <th colspan="2" pSortableColumn="Instituto.short_name">
                                    Institución
                                    <p-sortIcon field="Instituto.short_name"></p-sortIcon>
                                </th>
                                <th colspan="1" style="width: 250px;">
                                    Detalle
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pEditableRow]="rowData" *ngIf="rowData.institution.name === 'GRAN COLOMBIA'">
                                <td colspan="2">
                                    {{rowData.name}}
                                </td>
                                <td colspan="2">
                                    {{rowData.institution.denomination}} {{rowData.institution.short_name}}
                                </td>
                                <td style="width: 250px;">
                                    <button type="text" icon="pi pi-external-link" style="margin-left: 5px; margin-top: 5px;" 
                                    pButton label="Ver detalle" (click)=" onSelect(rowData); showMaximizableDialog();"></button>
                                    <button type="button" icon="pi pi-file-pdf" label="Descargar" pButton
                                    style="background-color: rgb(200, 12, 12); margin-left: 5px; margin-top: 5px;" 
                                    (click)="pdf(rowData.id)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="5">No data found.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Benitó Júarez">
                    <h3>INSTITUTO SUPERIO TECNOLOGICO BENITÓ JÚAREZ</h3>
                    <p-table [columns]="cols" [value]="coursesPhoto" [loading]="loading">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th colspan="2" pSortableColumn="name">
                                    Curso
                                    <p-sortIcon field="name"></p-sortIcon>
                                </th>
                                <th colspan="2" pSortableColumn="Instituto.name">
                                    Institución
                                    <p-sortIcon field="Instituto.name"></p-sortIcon>
                                </th>
                                <th colspan="1" style="width: 250px;">
                                    Detalle
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pEditableRow]="rowData" *ngIf="rowData.institution.name === 'BENITO JUAREZ'">
                                <td colspan="2">
                                    {{rowData.name}}
                                </td>
                                <td colspan="2">
                                    {{rowData.institution.denomination}} {{rowData.institution.short_name}}
                                </td>
                                <td style="width: 250px;">
                                    <button type="text" icon="pi pi-external-link" style="margin-left: 5px; margin-top: 5px;" 
                                    pButton label="Ver detalle" (click)=" onSelect(rowData); showMaximizableDialog();"></button>
                                    <button type="button" icon="pi pi-file-pdf" label="Descargar" pButton
                                    style="background-color: rgb(200, 12, 12); margin-left: 5px; margin-top: 5px;" 
                                    (click)="pdf(rowData.id)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="5">No data found.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
            </p-tabView>
            

            <!--pop-up-->
            <p-dialog header="Detalle" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '90vw', Height: '60vw'}" [maximizable]="true" [baseZIndex]="10000"
            [draggable]="false" [resizable]="false">
                <p-table #dt [columns]="cols" [value]="coursesPhoto" styleClass="p-datatable-lg" [scrollable]="true"
                scrollHeight="1000px">
                <ng-template pTemplate="header">
                    <tr [pEditableRow]="rowData">
                        <th style="width:250px">
                            <h2>REGISTRO FOTOGRÁFICO</h2>
                        </th>
                        <th style="width:250px">
                            <!--SENESCYT-->
                            Imagen1
                        </th>
                        <th style="width:250px">
                            <!--YAVIRAC-->
                            Imagen2
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pEditableRow]="rowData">
                        <td colspan="3" style="width:250px" *ngIf="rowData.id==selectCourseId.id">
                            <div class="p-grid">
                                <div class="p-col-6">
                                    <div class="p-grid">
                                        <div class="p-col-6">Foto No. </div>
                                        <div class="p-col-6">000{{rowData.id}}</div>
                                    </div>
                                    <div class="p-grid">
                                        <div class="p-col-6">Descripción</div>
                                        <div class="p-col-6">
                                            <p>
                                                {{rowData.name}} 
                                            </p>
                                        </div>
                                    </div>
                                    <div class="p-grid">
                                        <div class="p-col-6">Fecha </div>
                                        <div class="p-col-6">02/12/2020</div>
                                    </div>
                                </div>

                                <div class="p-col-6">
                                    <div class="p-col-12" style="text-align: center;">
                                        {{rowData.photo}}
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>

                </ng-template>
                <ng-template pTemplate="footer">
                    <tr>
                        <td colspan="3" class="p-text-right" style="text-align: center;">
                            <p> <b>Nota:</b> Arhivo para uso digital, en el caso de requerir incluir más medios de verificación se pueden usar las celdas inferiores. </p>
                        </td>
                    </tr>
                </ng-template>
                </p-table>
            </p-dialog>
        </div>
    </div>
</div>