/*--------------------------------------
CLASES GENERALES
---------------------------------------*/
.top-100 {
  position: relative;
  margin-top: 200px;
}

.asterisk {
  color: rgb(241, 12, 12);
  font-size: 20px;
  margin-top: 30px !important;
}
.nuevo {
  position: absolute;
  background-color: rgb(221, 63, 63);
  padding: 5px;
  border-radius: 10px;
  color: #fff;
  font-size: 8px;
  font-weight: bold;
  
}

.table-pointer {
  cursor: pointer;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.error {
  background-color: #f8eed9;
  border-color: #f8eed9;
  color: #a37518;
  padding: 5px;
}

.error-all {
  background-color: #f8eed9;
  border-color: #f8eed9;
  color: #a37518;
  padding: 5px;
}

#emailHelp {
  cursor: pointer;
  color: #6c757d !important;
  font-size: 12px;
  font-weight: 400;
}

.mt-1 {
  margin-top: 1px;
}

.mt {
  margin-top: 10px;
}

.mt-5 {
  margin-top: 30px;
}

.mb {
  margin-bottom: 10px;
}

.mb-5 {
  margin-bottom: 30px;
}

.ml {
  margin-left: 10px;
}

.mr {
  margin-right: 10px;
}

.text-center {
  text-align: center !important;
}

.text-left{
  text-align: left !important;
}

.text-bold {
  font-weight: bold !important;
}

.display-none {
  display: none !important;
}

#resolution-username {
  width: 80%;
}

.timeline-icon {
  padding: 7px 12px;
  color: #ffffff;
  border-radius: 2px;
}

.colour-1 {
  background-color: #65afc4 !important;
}

.colour-2 {
  background-color: #f2c260 !important;
}

.colour-3 {
  background-color: #b48ead !important;
}

.colour-4 {
  background-color: #a3be8c !important;
  padding: 0 15px;
}

.colour-5 {
  background-color: #f2c260 !important;
  padding: 0 15px;
}

#toast {
  position: absolute;
  top: 1px;
  right: 0;
  z-index: 9999999999;
}

/*--------------------------------------
MENSAJES DE ALERTA Y CONFIRMACIÓN
---------------------------------------*/
.mydialog {
  width: 50vw;
}

.greenText a {
  color: green;
}

.ui-tabview-selected {
  background-color: red !important;
}

.btn-delete {
  border-radius: 2px;
  border: none;
  background-color: rgb(195, 62, 62);
  color: #ffffff;
  padding: 7.5px 7px;
  cursor: pointer;
  transition: 1s;
}

.not-allowed {
  cursor: not-allowed !important;
}

.pointer-classic {
  cursor: pointer !important;
}

/*--------------------------------------
MODAL DE PROCESAR PETICIÓN
---------------------------------------*/

.process-modal {
  position: fixed;
  z-index: 999999999999;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.process-modal-content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/*--------------------------------------
MODAL PARA CREAR CATÁLOGOS
---------------------------------------*/

.modal-register {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transform: translateX(110%);
  transition: transform 0.1s ease-in;
}

.move {
  transform: translateX(0);
}

.modal-flex {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.flex-container {
  text-align: right;
  position: relative;
  background-color: #fefefe;
  margin-left: auto;
  width: 25%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
  padding-top: 20px;
  overflow: auto;
}

#close_modal {
  padding: 8px 12px;
  background-color: #5e81ac;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  border-radius: 100%;
  line-height: 30px;
}

#close_modal:hover {
  background-color: #547196;
}

#flex-titulo {
  font-size: 25px;
  margin-top: 20px;
}

.flex-modal {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
}

#form-modal {
  padding: 0 30px 30px 30px;
  width: 100%;
  text-align: left !important;
}

#form-modal-parent {
  padding: 0 30px 30px 30px;
  width: 100%;
  text-align: left !important;
}

#form-modal-update {
  padding: 0 30px 30px 30px;
  width: 100%;
  text-align: left !important;
}

.form-control {
  width: 100% !important;
}

.radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 12px 0;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio .check {
  position: absolute;
  top: 0;
  left: 5px;
  height: 23px;
  width: 23px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.radio:hover input ~ .check {
  border: 2px solid #547196;
}

.radio input:checked ~ .check {
  background-color: #547196;
  border: none;
}

.radio .check:after {
  content: "";
  position: absolute;
  display: none;
}

.radio input:checked ~ .check:after {
  display: block;
}

.radio .check:after {
  top: 5px;
  left: 6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
}

/*--------------------------------------
MODAL PARA ACTUALIZAR CATÁLOGO
---------------------------------------*/

.modal-update {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transform: translateX(110%);
  transition: transform 0.1s ease-in;
}

.move-update {
  transform: translateX(0);
}

.modal-flex-update {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.flex-container-update {
  text-align: right;
  position: relative;
  background-color: #fefefe;
  margin-left: auto;
  width: 25%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
  padding-top: 20px;
  overflow: auto;
}

/*--------------------------------------
MODAL PARA RESTAURAR CATÁLOGO
---------------------------------------*/
.modal-restore {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transform: translateX(110%);
  transition: transform 0.1s ease-in;
}

.move-restore {
  transform: translateX(0);
}

.modal-flex-restore {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.flex-container-restore {
  text-align: right;
  position: relative;
  background-color: #fefefe;
  margin-left: auto;
  width: 25%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
  padding-top: 20px;
  overflow: auto;
}

.flex-check {
  display: flex;
  border: 1px solid rgba(138, 138, 138, 0.527);
  border-radius: 5px;
  width: 100%;
  padding-bottom: 5px;
}
.menu-catalogue {
  display: flex;
  justify-content: space-around;
  width: 100% !important;
}

.menu-catalogue-main {
  width: 50% !important;
  border: 1px solid #5e81ac;
  background-color: #5e81ac;
  color: #ffffff;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  letter-spacing: 1.5px;
  transition: 1s;
  text-align: center;
}

.menu-catalogue-main:hover {
  background-color: #5e81ace1;
}

.menu-catalogue-item {
  width: 50% !important;
  border: 1px solid #5e81ac;
  background-color: #e9e9e9;
  color: #000000;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  letter-spacing: 1.5px;
  transition: 1s;
  text-align: center;
}

.menu-catalogue-item:hover {
  background-color: #e9e9e9df;
}
.menu {
  display: flex;
  justify-content: space-around;
}

.content-catalogue {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94% !important;
  max-width: 100% !important;
  transition: 1s ease-in-out all;
}

.menu-catalogue-restore {
  width: 100% !important;
  border: 1px solid #5e81ac;
  background-color: #5e81ac;
  color: #ffffff;
  padding: 12px;
  font-size: 11px;
  cursor: pointer;
  letter-spacing: 1.9px;
  transition: 1s;
  text-align: center;
  font-weight: normal;
}

.menu-catalogue-restore-parent {
  width: 100% !important;
  border: 1px solid #5e81ac;
  background-color: #5e81ac;
  color: #ffffff;
  padding: 12px;
  font-size: 11px;
  cursor: pointer;
  letter-spacing: 1.9px;
  transition: 1s;
  text-align: center;
  font-weight: normal;
}

#auto-form {
  width: 100%;
  height: 350px;
  overflow: auto;
 
}

#auto-form::-webkit-scrollbar {
  display: none;
}

/*--------------------------------------
MODAL PARA DESABILITAR CATÁLOGOS
---------------------------------------*/

#move-flex {
  position: absolute;
  z-index: 999;
}

.modal-checkbox {
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transform: translateY(110%);
  transition: transform 0.1s ease-in;
}

.move-checkbox {
  transform: translateX(0);
}

.modal-flex-checkbox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.flex-container-checkbox {
  text-align: right;
  position: relative;
  background-color: #fefefe;
  margin-top: auto;
  width: 55%;
  height: 30%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
  padding-top: 20px;
  overflow: auto;
}

.flex-modal-checkbox {
  display: flex;
  width: 30%;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: auto;
  margin-top: 1px;
}

.button-checkbox {
  display: flex;
  width: 100%;
  margin: auto;
}

//SECCIÓN TITULO DEL CATÁLOGO
.start-container {
  position: relative;
}
#container-header {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px 0 50px 0;
  box-sizing: border-box;
  color: #fff !important;
  background-color: #5e81ace1 !important;
}

.detail-button {
  position: absolute;
  top: 60px;
  left: 0;
  background-color: transparent;
  width: 100%;
  padding: 3px 0;
  height: 300px;
}

.p-father {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.p-item {
  width: 50%;
  box-sizing: border-box;
  padding: 30px;
}

.img-card-1 img {
  width: 250px;
  max-width: 100%;
  height: auto;
}

.main-title {
  font-size: 18px;
}

#card {
  border-top: 5px solid #9cdd64;
}

.card-body-s {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

.img-card-1 {
  width: 50%;
}

/*--------------------------------------
BUSCADOR DE LA PANTALLA DE INICIO
---------------------------------------*/

.srch_wrpr {
  width: 80%;
  max-width: 100%;
  height: 70px;
  position: relative;
  z-index: 1;
}
.srch_sb_cnt {
  width: 35px;
  height: 35px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  transition: all 0.4s ease-in-out 0s;
  z-index: 0;
  border-radius: 5px;
}
.sech_txt_inpt {
  opacity: 0;
  height: 55px;
  left: 10px;
  border-radius: 30px;
  border: 0;
  width: 94%;
  padding: 0 60px 0 15px;
  background-color: #b48ead;
  color: rgb(255, 255, 255) !important;
  font-size: 15px;
  transition: all 0.4s ease-in-out 0s;
}

.sech_txt_inpt::placeholder {
  color: rgb(255, 255, 255) !important;
}
.sech_txt_inpt:focus {
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.sech_txt_inpt:focus,
.srch_btn:focus {
  outline: none;
}
.sech_txt_inpt,
.srch_btn {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}
.srch_btn {
  width: 35px;
  height: 35px;
  right: 0;
  background-color: #8fd84f !important;
  border: 0;
  border-radius: 2px;
  transition: all 0.4s ease-in-out 0s;
  font-size: 15px;
  cursor: pointer;
  color: #fffdfd;
}
.srch_btn:after {
  position: absolute;
  content: "\f00d";
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  right: 10px;
  height: 30px;
  width: 30px;
  font-size: 20px;
  z-index: -1;
  visibility: hidden;
}
input.checkbox {
  position: absolute;
  z-index: 1;
  width: 70px;
  height: 70px;
  opacity: 0;
  right: 30%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease-in-out 0s;
  cursor: pointer;
}
input.checkbox:checked {
  width: 30px;
  height: 30px;
  right: -14%;
  transform: translate(-50%, -60%);
}
input.checkbox:checked ~ .srch_sb_cnt {
  width: 100%;
  border-radius: 40px;
  background-color: #333;
  overflow: visible;
}
input.checkbox:checked ~ .srch_sb_cnt .srch_btn {
  width: 50px;
  height: 50px;
  right: 10px;
  border-radius: 100%;
  font-size: 20px;
  background-image: linear-gradient(to top, #8fd84f 0%, #8fd84f 100%);
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
input.checkbox:checked ~ .srch_sb_cnt .sech_txt_inpt {
  opacity: 1;
}
input.checkbox:checked ~ .srch_sb_cnt .srch_btn:after {
  content: "X";
  transform: translateY(-50%) rotate(90deg);
  right: -50px;
  visibility: visible;
  transition: all 0.6s cubic-bezier(0, 0.105, 0.035, 1.57);
  transition-delay: 0.3s;
  border: 1px solid #fffcfc;
  background: #b48ead;
  color: rgb(255, 255, 255);
  border-radius: 100%;
  padding: 2.3px 0 0 0;
  font-size: 24px !important;
}

/*--------------------------------------
BOTONES DE AGREGAR Y RESTAURAR CATÁLOGOS
---------------------------------------*/

.btn-recicle,
.btn-refresh,
.btn-register {
  border-radius: 2px;
  border: none;
  background-color: #b48ead;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
  transition: 1s;
}

.btn-refresh {
  background-color: #8fd84f !important;
}

.btn-register {
  background-color: #5e81ac !important;
}

#add {
  font-size: 16px;
  margin-right: 5px;
}

#restore {
  font-size: 16px;
  margin-right: 5px;
}

/*--------------------------------------
INPUT CHECK PARA VALIDAR EL ESTADO
---------------------------------------*/

.checkbox {
  display: block;
  position: relative;
  padding-left: 15px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.check {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  border: 1px solid #b48ead;
}

.checkbox:hover input ~ .check {
  border: 2px solid #b48ead;
}

.checkbox input:checked ~ .check {
  background-color: #8fd84f;
  border: none;
  font-size: 50px;
}

.check:after {
  content: "";
  position: absolute;
  display: none;
  background-color: transparent !important;
}

.checkbox input:checked ~ .check:after {
  display: block;
}

.checkbox .check:after {
  left: 9px;
  top: 4px;
  width: 7px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.p-grid {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: transparent !important;
}

#p-check {
  position: relative;
  display: flex;
  background-color: transparent !important;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 100%;
  border: 1px solid transparent !important;
}

.visible-restore {
  display: none;
 
}

.visible-block {
  display: block;
 

}

.main-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

.item-form {
  width: 25%;
  max-width: 100%;
  padding: 2px;
  box-sizing: border-box;
}

/*--------------------------------------
PAGINADOR DE LA TABLA
---------------------------------------*/
.ui-paginator-icon .ui-paginator-icon {
  background-color: #5e81ac !important;
}

/*--------------------------------------
BOTÓN DE EDITAR REGISTROS
---------------------------------------*/

#search {
  font-size: 12px !important;
}

#btn-edit {
  background-color: #5e81ac !important;
}

#btn-delete {
  background-color: #ca3333 !important;
}

#form-group {
  width: 40% !important;
  display: flex;
  justify-content: center;
}

#form-search {
  width: 50% !important;
}

#icon-table {
  font-size: 25px;
  color: #5e81ac;
  font-weight: bold;
  margin-right: 5px;
}

#color-table {
  font-size: 20px;
  border: 0.1px solid #5e81ac1a;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
}

#catalogue-table {
  font-size: 20px;
  border: 0.1px solid transparent;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 0;
}

#span-table {
  margin-left: 10px;
}

#ng-template {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  vertical-align: middle;
}

#icon_update {
  font-size: 13px;
  color: #5e81ac;
  font-weight: 600;
  letter-spacing: 0.1;
  cursor: pointer;
  transition: 0.3s ease-in;
}

#icon_update:hover {
  color: #b48ead;
}

#icon_view {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center !important;
}

/*--------------------------------------
ESTILOS RESPONSIVE
---------------------------------------*/

@media screen and (max-width: 40em) {
  .mydialog {
      width: 75vw;
  }
}

@media (min-width: 320px) and (max-width: 520px) {
  .main-form {
      flex-wrap: wrap;
  }

  .top-100 {
      position: relative;
      margin-top: 800px;
  }

  .item-form,
  .p-item,
  .img-card-1 {
      width: 100%;
      max-width: 100%;
  }

  .p-item {
      padding: 0;
      padding-top: 30px !important;
  }

  #move-flex {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid transparent !important;
  }

  .flex-modal-checkbox,
  .flex-container-checkbox {
      width: 100%;
  }
  .checkbox-title {
      display: none;
  }

  #move-edit {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  #form-group {
      width: 100% !important;
      display: flex;
      justify-content: center;
  }

  #form-search {
      width: 100% !important;
  }

  .flex-container,
  .flex-container-update,
  .flex-container-restore {
      width: 100%;
  }
}

@media (min-width: 521px) and (max-width: 1110px) {
  .main-form {
      flex-wrap: wrap;
  }

  .item-form {
      width: 100%;
      max-width: 100%;
  }

  .top-100 {
      position: relative;
      margin-top: 680px;
  }

  .item-form,
  .p-item {
      width: 100%;
      max-width: 100%;
  }

  .p-item {
      padding: 0;
      padding-top: 30px !important;
  }

  .flex-container,
  .flex-container-update,
  .flex-container-restore {
      width: 60%;
  }

  #move-flex {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid transparent !important;
  }

  #move-edit {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  #form-group {
      width: 100% !important;
      display: flex;
      justify-content: center;
  }

  #form-search {
      width: 100% !important;
  }
}
