<!--inicio alerta confirmación-->
<p-confirmDialog [style]="{width: '425px'}"></p-confirmDialog>
<!--fin alerta confirmación-->

<!--inicio mensajes de error y validación-->
<p-toast id="toast" key="tst"></p-toast>
<!--fin mensajes de error y validación-->

<!--inicio modal procesar petición-->
<div class="process-modal" id="process-modal-fade">
    <div class="process-modal-content">
        <img src='assets/layout/images/spinner.png'/>
        <p style="color: white;">Cargando...</p>
    </div>
</div>
<!--fin modal procesar petición-->

<div class="container">
    <!-- inicio modal crear elementos padre-->
    <div class="modal-register" id="modal-register-main">
        <div class="modal-flex">
            <div class="flex-container">
                <div class="flex-header">
                    <span (click)="closeModalMain()" id="close_modal"><i class="pi pi-times"></i></span>
                </div>
                <div class="text-center">
                    <h1 id="flex-titulo">Crear catálogo padre</h1>
                </div>
                <div class="flex-modal">
                    <form [formGroup]="formCatalogueParent" (ngSubmit)="createCatalogueParent()" id="form-modal-parent">
                        <div class="mt-0">
                            <div class="form">
                                <label for="name_parent" class="text-bold">Nombre catálogo <i class="asterisk">*</i> </label><br />
                                <input class="mb mt form-control text-uppercase" pInputText type="text" id="name_parent" name="name_parent" formControlName="name_parent" [(ngModel)]="name_parent" required />
                            </div>
                            <div *ngIf="formCatalogueParent.get('name_parent').errors && formCatalogueParent.get('name_parent').touched">
                                <p-message severity="warn" text="Campo nombre es obligatorio" *ngIf="formCatalogueParent.get('name_parent').hasError('required')"></p-message>
                                <p-message severity="warn" text="Debe ingresar mínimo 4 dígitos" *ngIf="formCatalogueParent.get('name_parent').hasError('minlength')"></p-message>
                                <p-message severity="warn" text="Debe ingresar máximo 50 dígitos" *ngIf="formCatalogueParent.get('name_parent').hasError('maxLength')"></p-message>
                                <p-message severity="warn" text="Debe ingresar un formato válido" *ngIf="formCatalogueParent.get('name_parent').hasError('pattern')"></p-message>
                            </div>
                        </div>

                        <div class="mt-0">
                            <div class="form">
                                <label for="type_parent" class="text-bold">Tipo catálogo <i class="asterisk">*</i> </label><br />
                                <input class="mb mt form-control text-uppercase" pInputText type="text" id="type_parent" name="type_parent" formControlName="type_parent" [(ngModel)]="type_parent" required />
                            </div>
                            <div *ngIf="formCatalogueParent.get('type_parent').errors && formCatalogueParent.get('type_parent').touched">
                                <p-message severity="warn" text="Campo nombre es obligatorio" *ngIf="formCatalogueParent.get('type_parent').hasError('required')"></p-message>
                                <p-message severity="warn" text="Debe ingresar mínimo 4 dígitos" *ngIf="formCatalogueParent.get('type_parent').hasError('minlength')"></p-message>
                                <p-message severity="warn" text="Debe ingresar máximo 50 dígitos" *ngIf="formCatalogueParent.get('type_parent').hasError('maxLength')"></p-message>
                                <p-message severity="warn" text="Debe ingresar un formato válido" *ngIf="formCatalogueParent.get('type_parent').hasError('pattern')"></p-message>
                            </div>
                        </div>

                        <div class="mt-0 display-none">
                            <div class="form">
                                <label class="text-bold" for="parent_main_id">Seleccione referencia padre <i class="asterisk">*</i></label>
                                <input class="mb mt form-control" pInputText type="text" id="parent_main_id" name="parent_main_id" formControlName="parent_main_id" [(ngModel)]="parent_main_id" />
                            </div>
                        </div>

                        <div class="mt">
                            <label class="text-bold" for="icon_parent">Seleccione icono</label>
                            <div class="form-control mt">
                                <p-dropdown [style]="{'width':'100%'}" [options]="listIcons" name="icon_parent" formControlName="icon_parent" [(ngModel)]="icon_parent" [filter]="true">
                                    <ng-template let-item pTemplate="selectedItem">
                                        <div id="ng-template">
                                            <i id="icon-table" class="{{item.label}}"></i>
                                            <span id="span-table">{{item.value}}</span>
                                        </div>
                                    </ng-template>
                                    <ng-template let-object pTemplate="item">
                                        <div id="ng-template">
                                            <i id="icon-table" class="{{object.label}}"></i>
                                            <span id="span-table">{{object.value}}</span>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="mt">
                            <label class="text-bold" for="color_parent">Seleccione color</label>
                            <div class="form-control mt">
                                <p-dropdown [style]="{'width':'100%'}" [options]="listColor" id="color_parent" name="color_parent" formControlName="color_parent" [(ngModel)]="color_parent" [filter]="true">
                                    <ng-template let-item pTemplate="selectedItem">
                                        <div id="ng-template">
                                            <i id="color-table" [ngStyle]="{'background-color': item.value}"></i>
                                            <span id="span-table">{{item.value}}</span>
                                        </div>
                                    </ng-template>
                                    <ng-template let-object pTemplate="item">
                                        <div id="ng-template">
                                            <i id="color-table" [ngStyle]="{'background-color': object.value}"></i>
                                            <span id="span-table">{{object.value}}</span>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="mt">
                            <div class="form">
                                <label for="description_parent" class="text-bold">Descripción</label><br />
                                <input class="mb mt form-control" pInputText type="text" id="description_parent" name="description_parent" formControlName="description_parent" [(ngModel)]="description_parent" />
                            </div>
                        </div>

                        <div class="mt">
                            <button type="submit" label="Registrar catálogo" pButton [disabled]="formCatalogueParent.invalid"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- fin modal crear elementos padre-->

    <!-- inicio modal crear item catálogos-->
    <div class="modal-register" id="modal-register">
        <div class="modal-flex">
            <div class="flex-container">
                <div class="flex-header">
                    <span (click)="closeModalItem()" id="close_modal"><i class="pi pi-times"></i></span>
                </div>
                <div class="text-center">
                    <h1 id="flex-titulo">Crear item catálogo</h1>
                </div>
                <div class="flex-modal">
                    <form [formGroup]="formCatalogue" (ngSubmit)="createCatalogueItem()" id="form-modal">
                        <div class="mt-0">
                            <div class="form">
                                <label for="name" class="text-bold">Nombre catálogo <i class="asterisk">*</i> </label><br />
                                <input class="mb mt form-control text-uppercase" pInputText type="text" id="name" name="name" formControlName="name" [(ngModel)]="name" required />
                            </div>
                            <div *ngIf="formCatalogue.get('name').errors && formCatalogue.get('name').touched">
                                <p-message severity="warn" text="Campo nombre es obligatorio" *ngIf="formCatalogue.get('name').hasError('required')"></p-message>
                                <p-message severity="warn" text="Debe ingresar mínimo 4 dígitos" *ngIf="formCatalogue.get('name').hasError('minlength')"></p-message>
                                <p-message severity="warn" text="Debe ingresar máximo 50 dígitos" *ngIf="formCatalogue.get('name').hasError('maxLength')"></p-message>
                                <p-message severity="warn" text="Debe ingresar un formato válido" *ngIf="formCatalogue.get('name').hasError('pattern')"></p-message>
                            </div>
                        </div>

                        <div class="mt-0">
                            <div class="form">
                                <label for="type" class="text-bold">Tipo catálogo <i class="asterisk">*</i> </label><br />
                                <input class="mb mt form-control text-uppercase" pInputText type="text" id="type" name="type" formControlName="type" [(ngModel)]="type" required />
                            </div>
                            <div *ngIf="formCatalogue.get('type').errors && formCatalogue.get('type').touched">
                                <p-message severity="warn" text="Campo nombre es obligatorio" *ngIf="formCatalogue.get('type').hasError('required')"></p-message>
                                <p-message severity="warn" text="Debe ingresar mínimo 4 dígitos" *ngIf="formCatalogue.get('type').hasError('minlength')"></p-message>
                                <p-message severity="warn" text="Debe ingresar máximo 50 dígitos" *ngIf="formCatalogue.get('type').hasError('maxLength')"></p-message>
                                <p-message severity="warn" text="Debe ingresar un formato válido" *ngIf="formCatalogue.get('type').hasError('pattern')"></p-message>
                            </div>
                        </div>

                        <div class="div mt">
                            <label for="parent_id" class="text-bold">Referencia padre</label><br />
                            <div class="flex-check mt mb">
                                <label class="radio">
                                    Asociar
                                    <input type="radio" id="reference" name="radio" />
                                    <span class="check"></span>
                                </label>
                                <label class="radio">
                                    Ninguna
                                    <input type="radio" checked="checked" id="nan_reference" name="radio" />
                                    <span class="check"></span>
                                </label>
                            </div>
                        </div>
                        <div class="mt-5" id="remove">
                            <div class="form">
                                <label class="text-bold" for="parent_id">Seleccione referencia</label>
                                <div class="form-control mt">
                                    <p-dropdown [style]="{'width':'100%'}" [options]="allCatalogues" name="parent_id" formControlName="parent_id" [(ngModel)]="parent_id" [filter]="true">
                                        <ng-template let-item pTemplate="selectedItem">
                                            <div id="ng-template">
                                                <i id="catalogue-table" class="{{item.value}}"></i>
                                                <span id="span-table">{{item.label}}</span>
                                            </div>
                                        </ng-template>
                                        <ng-template let-object pTemplate="item">
                                            <div id="ng-template">
                                                <i id="catalogue-table" class="{{object.value}}"></i>
                                                <span id="span-table">{{object.value}}</span>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                </div>
                            </div>
                            <div *ngIf="formCatalogue.get('parent_id').errors && formCatalogue.get('parent_id').touched">
                                <p-message severity="warn" text="Seleccione una referencia padre" *ngIf="formCatalogue.get('parent_id').hasError('required')"></p-message>
                            </div>
                        </div>

                        <div class="mt">
                            <label class="text-bold" for="icon">Seleccione icono</label>
                            <div class="form-control mt">
                                <p-dropdown [style]="{'width':'100%'}" [options]="listIcons" name="icon" formControlName="icon" [(ngModel)]="icon" [filter]="true">
                                    <ng-template let-item pTemplate="selectedItem">
                                        <div id="ng-template">
                                            <i id="icon-table" class="{{item.label}}"></i>
                                            <span id="span-table">{{item.value}}</span>
                                        </div>
                                    </ng-template>
                                    <ng-template let-object pTemplate="item">
                                        <div id="ng-template">
                                            <i id="icon-table" class="{{object.label}}"></i>
                                            <span id="span-table">{{object.value}}</span>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="mt">
                            <label class="text-bold" for="float-input-icon">Seleccione color</label>
                            <div class="form-control mt">
                                <p-dropdown [style]="{'width':'100%'}" [options]="listColor" id="color" name="color" formControlName="color" [(ngModel)]="color" [filter]="true">
                                    <ng-template let-item pTemplate="selectedItem">
                                        <div id="ng-template">
                                            <i id="color-table" [ngStyle]="{'background-color': item.value}"></i>
                                            <span id="span-table">{{item.value}}</span>
                                        </div>
                                    </ng-template>
                                    <ng-template let-object pTemplate="item">
                                        <div id="ng-template">
                                            <i id="color-table" [ngStyle]="{'background-color': object.value}"></i>
                                            <span id="span-table">{{object.value}}</span>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="mt">
                            <div class="form">
                                <label for="description" class="text-bold">Descripción</label><br />
                                <input class="mb mt form-control" pInputText type="text" id="description" name="description" formControlName="description" [(ngModel)]="description" />
                            </div>
                        </div>

                        <div class="mt">
                            <button type="submit" label="Registrar catálogo" pButton></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- fin modal crear item catálogos-->

    <!-- inicio modal crear actualizar-->
    <div class="modal-update" id="modal-update">
        <div class="modal-flex">
            <div class="flex-container-update">
                <div class="flex-header-update">
                    <span (click)="closeModalUpdateCatalogue()" id="close_modal"><i class="pi pi-times"></i></span>
                </div>

                <div class="text-center">
                    <h1 id="flex-titulo">Actualizar catálogo</h1>
                </div>

                <div class="flex-modal" *ngFor="let item of updateForm">
                    <form method="POST" [formGroup]="updateFormCatalogue" (ngSubmit)="updateCatalogue()" id="form-modal-update">
                        <input class="mb mt form-control" pInputText type="hidden" id="id_catalogue" name="id_catalogue" formControlName="id_catalogue" [(ngModel)]="item.id" required />

                        <div class="mt-0">
                            <div class="form">
                                <label for="name_catalogue" class="text-bold">Nombre</label><br />
                                <input class="mt form-control text-uppercase" pInputText type="text" id="name_catalogue" name="name_catalogue" formControlName="name_catalogue" [(ngModel)]="item.name" required />
                            </div>
                            <div *ngIf="updateFormCatalogue.get('name_catalogue').errors && updateFormCatalogue.get('name_catalogue').touched">
                                <p-message severity="warn" text="Campo nombre es obligatorio" *ngIf="updateFormCatalogue.get('name_catalogue').hasError('required')"></p-message>
                                <p-message severity="warn" text="Debe ingresar mínimo 4 dígitos" *ngIf="updateFormCatalogue.get('name_catalogue').hasError('minlength')"></p-message>
                                <p-message severity="warn" text="Debe ingresar máximo 50 dígitos" *ngIf="updateFormCatalogue.get('name_catalogue').hasError('maxLength')"></p-message>
                                <p-message severity="warn" text="Debe ingresar un formato válido" *ngIf="updateFormCatalogue.get('name_catalogue').hasError('pattern')"></p-message>
                            </div>
                        </div>

                        <div class="mt-5" id="remove_default">
                            <label for="icon" class="text-bold">Icono catálogo</label><br />
                            <input
                                style="cursor: not-allowed !important;"
                                class="mt form-control not-allowed"
                                pInputText
                                type="text"
                                id="icon_catalogue"
                                name="icon_catalogue"
                                formControlName="icon_catalogue"
                                [(ngModel)]="item.icon === null || item.icon === '' ? 'Ninguno' : item.icon "
                                disabled
                            />
                            <small id="icon_update" class="mb" (click)="hideIconDefault()"><i style="font-size: 20px;" class="pi pi-user-edit"></i></small>
                        </div>

                        <div class="mt-5 visible-restore" id="select_icon">
                            <label class="text-bold" for="icon">Seleccione icono</label>
                            <div class="form-control mt">
                                <p-dropdown [style]="{'width':'100%'}" [options]="listIcons" name="icon_current" formControlName="icon_current" [(ngModel)]="icon_current" [filter]="true">
                                    <ng-template let-item pTemplate="selectedItem">
                                        <div id="ng-template">
                                            <i id="icon-table" class="{{item.label}}"></i>
                                            <span id="span-table">{{item.value}}</span>
                                        </div>
                                    </ng-template>
                                    <ng-template let-object pTemplate="item">
                                        <div id="ng-template">
                                            <i id="icon-table" class="{{object.label}}"></i>
                                            <span id="span-table">{{object.value}}</span>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                                <small id="icon_update" class="mb" (click)="showIconDefault()">Mantener valor actual</small>
                            </div>
                        </div>

                        <div class="mt-5" id="color_default">
                            <div class="form">
                                <label for="icon" class="text-bold">Color</label><br />
                                <input style="cursor: not-allowed !important;" class="mt form-control" pInputText type="text" id="color_catalogue" name="color_catalogue" formControlName="color_catalogue" [(ngModel)]="item.color" disabled />
                                <small id="icon_update" class="mb" (click)="hideColorDefault()"><i style="font-size: 20px;" class="pi pi-user-edit"></i></small>
                            </div>
                        </div>

                        <div class="mt-5 visible-restore" id="select_color">
                            <label class="text-bold" for="float-input-icon">Seleccione color</label>
                            <div class="form-control mt">
                                <p-dropdown [style]="{'width':'100%'}" [options]="listColor" name="color_current" formControlName="color_current" [(ngModel)]="color_current" [filter]="true">
                                    <ng-template let-item pTemplate="selectedItem">
                                        <div id="ng-template">
                                            <i id="color-table" [ngStyle]="{'background-color': item.value}"></i>
                                            <span id="span-table">{{item.value}}</span>
                                        </div>
                                    </ng-template>
                                    <ng-template let-object pTemplate="item">
                                        <div id="ng-template">
                                            <i id="color-table" [ngStyle]="{'background-color': object.value}"></i>
                                            <span id="span-table">{{object.value}}</span>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                                <small id="icon_update" class="mb" (click)="showColorDefault()">Mantener valor actual</small>
                            </div>
                        </div>

                        <div class="mt-5">
                            <div class="form">
                                <label for="icon" class="text-bold">Description</label><br />
                                <input
                                    class="mb mt form-control"
                                    pInputText
                                    type="text"
                                    id="description_catalogue"
                                    name="description_catalogue"
                                    formControlName="description_catalogue"
                                    [(ngModel)]="item.description === null || item.description === '' ? 'Ninguna descripción' : item.description "
                                />
                            </div>
                        </div>

                        <div class="mt">
                            <button type="submit" label="Actualizar información" [disabled]="updateFormCatalogue.invalid" pButton></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- fin modal crear actualizar-->

    <!-- inicio modal habiltar actualizar-->
    <div class="modal-restore" id="modal-restore">
        <div class="modal-flex-restore">
            <div class="flex-container-restore">
                <div class="flex-header">
                    <span (click)="closeModalRestore()" id="close_modal"><i class="pi pi-times"></i></span>
                </div>

                <div class="text-center">
                    <h1 id="flex-titulo">Restaurar catálogos</h1>
                </div>

                <div class="flex-modal" style="padding: 0 30px !important;">
                    <div class="menu-catalogue">
                        <a (click)="seeCatalogue()" class="menu-catalogue-main"> PADRE </a>
                        <a (click)="seeItem()" class="menu-catalogue-item"> ITEM </a>
                    </div>

                    <div id="parent-container" class="visible-block">
                      
                        <div class="mt-5" *ngIf="!catalogueRestore?.length">
                            <label class="text-left">NINGÚN CATÁLOGO PADRE ENCONTRADO</label>
                        </div>

                        <div id="auto-form">
                            <div *ngFor="let item of catalogueRestore">
                                <div class="content-catalogue mt-5">
                                    <label class="text-left">{{item.name}}</label>
                                    <label class="checkbox upload ml">
                                        <input type="checkbox" class="estado-check upt" id="{{item.id}}" (change)="updateStateCatalogue(item.id)" />
                                        <span class="check"></span>
                                    </label>
                                </div>
                                <hr class="mt-5 divider" />
                            </div>
                        </div>

                        <div class="mt">
                            <button type="button" class="menu-catalogue-restore-parent visible-restore" (click)="restoreCatalogues()">HABILITAR CATÁLOGOS</button>
                        </div>
                    </div>

                    <div id="item-container" class="visible-restore">
                      
                        <div class="mt-5" *ngIf="!itemRestore?.length">
                            <label class="text-left">NINGÚN CATÁLOGO ÍTEM ENCONTRADO</label>
                        </div>

                        <div id="auto-form">
                            <div *ngFor="let item of itemRestore">
                                <div class="content-catalogue mt-5">
                                    <label class="text-left">{{item.name}}</label>
                                    <label class="checkbox ml">
                                        <input type="checkbox" class="estado-check upt" id="{{item.id}}" (change)="updateStateCatalogue(item.id, item.parent_id)" />
                                        <span class="check"></span>
                                    </label>
                                </div>
                                <hr class="mt-5 divider" />
                            </div>
                        </div>

                        <div class="mt">
                            <button type="button" class="menu-catalogue-restore visible-restore" (click)="restoreCatalogues()">HABILITAR CATÁLOGOS</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin modal habiltar actualizar-->

    <!-- inicio modal crear item catálogos-->
    <div class="modal-checkbox" id="modal-checkbox">
        <div class="modal-flex-checkbox">
            <div class="flex-container-checkbox" id="chk">
                <div class="text-center">
                    <h1 id="flex-titulo">Acción a ejecutar</h1>
                    <p class="mt mb ml mr checkbox-title">
                        Si realizar este proceso no podrás visualizar ninguno de los catálogos que acabas de seleccionar dentro de tu vista principal. Si deseas continuar con la accion presiona el boton que se encuentra continuación
                    </p>
                </div>
                <div class="flex-modal-checkbox">
                    <div class="mt button-checkbox">
                        <button type="button" class="menu-catalogue-restore" (click)="updateStateModal()">DESHABILITAR TODOS</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin modal crear item catálogos-->

    <div class="start-container">
        <div id="container-header">
            <p-header>
                <h1 class="text-center">Gestión de Catálogos</h1>
            </p-header>
        </div>

        <div class="detail-button">
            <div class="p-father">
                <div class="p-item">
                    <div class="card" id="card">
                        <div class="card-body-s">
                            <div class="img-card-1">
                                <img src="https://drive.google.com/uc?id=1CYchPZuAuaSAivVfKWCVhRDt5hrMsvOm" alt="" />
                            </div>

                            <div class="img-card-1">
                                <div class="ml">
                                    <span>
                                        <b class="main-title mb-5">Crear catálogo padre</b> <br />
                                        Crea el elemento padre presionado en botón en la parte inferior.
                                    </span>
                                    <div class="mt-0">
                                        <button (click)="openModalMain()" class="mb mt btn-register" title="Registrar nuevo catálogo"><i id="add" class="pi pi-user-plus"></i> Crear catálogo padre</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="p-item" id="item-detail">
                    <div class="card" id="card">
                        <div class="card-body-s">
                            <div class="img-card-1">
                                <img class="mt mb" src="https://drive.google.com/uc?id=1SqzpLBo8xncT0A5hxtF-3-hQ97iwqZDR" alt="" />
                            </div>

                            <div class="img-card-1">
                                <div class="ml">
                                    <span>
                                        <b class="main-title mb-5">Crear catálogo item</b> <br />
                                        Categoriza los catálogos a partir de un elemento padre.
                                    </span>
                                    <div class="mt-0">
                                        <button (click)="openModalItem()" class="mb mt btn-register" title="Registrar nuevo catálogo"><i id="add" class="pi pi-user-plus"></i> Crear catálogo ítem</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- inicio vista principal-->
    <div class="p-col-12 p-lg-12 top-100">
       
        <div class="card orders-table">
           
            <p-table #dt [columns]="cols" [value]="catalogues" [paginator]="true" [rows]="20" totalRecords="totalRecords" pageLinks="3" [responsive]="true">
                <ng-template pTemplate="caption">
                    <div class="main-form">
                        <div class="item-form" id="form-search">
                            <div class="srch_wrpr">
                                <input type="checkbox" name="" class="checkbox" />
                                <div class="srch_sb_cnt">
                                    <input type="text" name="text_bar" id="" class="sech_txt_inpt" placeholder="Buscar por nombre o tipo de catálogo..." (input)="dt.filterGlobal($event.target.value, 'contains')" title="Buscar catálogo" />
                                    <button class="srch_btn" title="Buscar catálogo">
                                        <i class="pi pi-search" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="item-form" id="form-group">
                            <div class="input-group">
                                <div class="mt-0">
                                    <button (click)="openRestore()" class="mb mt btn-recicle" title="Habilitar catálogos"><i id="restore" class="pi pi-undo"></i>Habilitar catálogos</button>
                                    <button (click)="viewAllCatalogue()" class="mb ml mt btn-recicle btn-register" title="Visto"><i id="restore" class="pi pi-eye"></i>Marcar todos como visto</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    
                    <div *ngIf="rowData.created_state === 'NUEVO'">
                        <sup [ngStyle]="rowData.created_state === 'NUEVO' && {'cursor':'pointer'}" (click)="viewCatalogue(rowData.id, rowData.created_state)" class="nuevo" id="{{rowData.id}}">NUEVO</sup>
                    </div>

                    <tr>
                        <td class="text-center">
                            {{rowData.name_parent === null ? '-' : rowData.name_parent}}
                        </td>
                        <td class="text-center" id="key">{{rowData.code}}</td>
                        <td class="text-center">{{rowData.name}}</td>
                        <td class="text-center">
                            {{rowData.description === '' ? '-' : rowData.description}}
                        </td>
                        <td class="text-center">{{rowData.type}}</td>
                        <td class="text-center">
                            <div id="icon_view">
                                <i id="icon-table" class="{{rowData.icon}}"></i>
                                {{rowData.icon === '' ? '-' : rowData.icon}}
                            </div>
                        </td>
                        <td id="p-check" style="border-top: 1px solid rgb(221, 221, 221) !important;">
                            <div id="move-flex">
                                <label class="checkbox text-center">
                                    <input type="checkbox" class="estado-check" checked='{{rowData.state_id === 1 ? "checked" : ""}}' id="{{rowData.id}}" (change)="updateStateGroupSelect(rowData.id)" />
                                    <span class="check"></span>
                                </label>
                            </div>
                        </td>

                        <td>
                            <div class="p-grid mt-1">
                                <div id="move-edit"><p-button id="btn-edit" icon="pi pi-pencil" styleClass="ui-button-default" (click)="showCatalogue(rowData.id)" title="Actualizar catálogo"></p-button></div>
                                <div class="ml">
                                    <button class="btn-delete" id="logic-{{rowData.id}}" styleClass="ui-button-danger" title="Eliminar catálogo" (click)="logicDeleteState(rowData.id, rowData.name)"><i class="pi pi-ban"></i></button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <!-- fin vista principal-->
</div>
