<div  class="landing-body">
    <div id="meet-mirage" class="p-col-12">
        <div style="text-align: center; padding-top: 30px;">
            <h1>Centro de Educación Continua "Yavirac"</h1>
        </div>
        <div class="section" style="padding-top: 20px;">
            <div class="p-grid">
                <div class="p-col-1" style="text-align: center; margin-top: 0px;"><button type="button" label="" pButton
                        routerLink="/cecy/reports/list" icon="pi pi-arrow-left"></button></div>
                <div class="p-col-11">
                        <h3>DIRECCIÓN DE CALIFICACIÓN Y RECONOCIMIENTO </h3>
                </div>
            </div>
        </div>

        <div style="padding-left: 70px; padding-right: 70px;">
            <p-tabView>
                <p-tabPanel header="Todo">
                    <h3>TODOS LOS INSTITUTOS</h3>
                    <p-table [columns]="cols" [value]="courses" [loading]="loading">
                        <ng-template pTemplate="header" let-columns>
                            <tr> 
                                <th colspan="2" pSortableColumn="name">
                                    Curso
                                    <p-sortIcon field="name"></p-sortIcon>
                                </th>
                                <th colspan="2" pSortableColumn="institution.short_name">
                                    Institución
                                    <p-sortIcon field="Instituto.short_name"></p-sortIcon>
                                </th>
                                <th colspan="1" style="width: 300px; text-align: center;">
                                    Detalle
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pEditableRow]="rowData">
                                <td colspan="2">
                                    {{rowData.name}}
                                </td>
                                <td colspan="2">
                                    {{rowData.institution.denomination}} {{rowData.institution.short_name}}
                                </td>
                                <td style="text-align: center;">
                                    <button type="text" icon="pi pi-external-link" style="margin-left: 5px; padding-top: 5px;" 
                                    pButton label="Ver detalle" (click)=" onSelect(rowData); showMaximizableDialog();"></button>
                                    <button type="button" icon="pi pi-file-pdf" label="Descargar" pButton
                                    style="background-color: rgb(200, 12, 12); margin-left: 5px; padding-top: 5px;" 
                                    (click)="pdf(rowData.id)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="5">Data not found or information not available in the database.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Yavirac">
                    <h3>INSTITUTO SUPERIO TECNOLOGICO DE TURISMO Y PATRIMONIO YAVIRAC</h3>
                    <p-table [columns]="cols" [value]="courses" [loading]="loading">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th colspan="2" pSortableColumn="name">
                                    Curso
                                    <p-sortIcon field="name"></p-sortIcon>
                                </th>
                                <th colspan="2" pSortableColumn="Instituto.short_name">
                                    Institución
                                    <p-sortIcon field="Instituto.short_name"></p-sortIcon>
                                </th>
                                <th colspan="1" style="width: 300px; text-align: center;">
                                    Detalle
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pEditableRow]="rowData" *ngIf="rowData.institution.short_name === 'YAVIRAC'">
                                <td colspan="2">
                                    {{rowData.name}}
                                </td>
                                <td colspan="2">
                                    {{rowData.institution.denomination}} {{rowData.institution.short_name}}
                                </td>
                                <td style="text-align: center;">
                                    <button type="text" icon="pi pi-external-link" style="margin-left: 5px; padding-top: 5px;" 
                                    pButton label="Ver detalle" (click)=" onSelect(rowData); showMaximizableDialog();"></button>
                                    <button type="button" icon="pi pi-file-pdf" label="Descargar" pButton
                                    style="background-color: rgb(200, 12, 12); margin-left: 5px; padding-top: 5px;" 
                                    (click)="pdf(rowData.id)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="5">Data not found or information not available in the database.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Gran Colombia">
                    <h3>INSTITUTO SUPERIO TECNOLOGICO GRAN COLOMBIA</h3>
                    <p-table [columns]="cols" [value]="courses" [loading]="loading">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th colspan="2" pSortableColumn="name">
                                    Curso
                                    <p-sortIcon field="name"></p-sortIcon>
                                </th>
                                <th colspan="2" pSortableColumn="Instituto.short_name">
                                    Institución
                                    <p-sortIcon field="Instituto.short_name"></p-sortIcon>
                                </th>
                                <th colspan="1" style="width: 300px; text-align: center;">
                                    Detalle
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pEditableRow]="rowData" *ngIf="rowData.institution.short_name === 'GRAN COLOMBIA'">
                                <td colspan="2">
                                    {{rowData.name}}
                                </td>
                                <td colspan="2">
                                    {{rowData.institution.denomination}} {{rowData.institution.short_name}}
                                </td>
                                <td style="text-align: center;">
                                    <button type="text" icon="pi pi-external-link" style="margin-left: 5px; padding-top: 5px;" 
                                    pButton label="Ver detalle" (click)=" onSelect(rowData); showMaximizableDialog();"></button>
                                    <button type="button" icon="pi pi-file-pdf" label="Descargar" pButton
                                    style="background-color: rgb(200, 12, 12); margin-left: 5px; padding-top: 5px;" 
                                    (click)="pdf(rowData.id)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="5">Data not found or information not available in the database.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Benitó Júarez">
                    <h3>INSTITUTO SUPERIO TECNOLOGICO BENITÓ JÚAREZ</h3>
                    <p-table [columns]="cols" [value]="courses" [loading]="loading">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th colspan="2" pSortableColumn="name">
                                    Curso
                                    <p-sortIcon field="name"></p-sortIcon>
                                </th>
                                <th colspan="2" pSortableColumn="Instituto.short_name">
                                    Institución
                                    <p-sortIcon field="Instituto.short_name"></p-sortIcon>
                                </th>
                                <th colspan="1" style="width: 300px; text-align: center;">
                                    Detalle
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pEditableRow]="rowData" *ngIf="rowData.institution.short_name === 'BENITO JUAREZ'">
                                <td colspan="2">
                                    {{rowData.name}}    
                                </td>
                                <td colspan="2">
                                    {{rowData.institution.denomination}} {{rowData.institution.short_name}}
                                </td>
                                <td style="text-align: center;">
                                    <button type="text" icon="pi pi-external-link" style="margin-left: 5px; padding-top: 5px;" 
                                    pButton label="Ver detalle" (click)=" onSelect(rowData); showMaximizableDialog();"></button>
                                    <button type="button" icon="pi pi-file-pdf" label="Descargar" pButton
                                    style="background-color: rgb(200, 12, 12); margin-left: 5px; padding-top: 5px;" 
                                    (click)="pdf(rowData.id)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="5">Data not found or information not available in the database.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
    <!--Pop-up-->

    <p-dialog header="Detalle" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '90vw', Height: '60vw'}"
        [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
        <div>
            <p-table  [columns]="cols" [value]="courses" styleClass="p-datatable-lg" [scrollable]="true"
                scrollHeight="1000px">
                <ng-template pTemplate="header">
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    
                    <tr [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="2" style="width:250px">
                            <!--SENESCYT-->
                            Imagen1
                        </td>
                        <td colspan="8" style="width:350px; text-align: center;">

                            <h3>DIRECCIÓN DE CALIFICACIÓN Y RECONOCIMIENTO
                                FORMULARIO DE DISEÑO CURRICULAR </h3>
                            <h3>- CAPACITACIÓN CONTINUA -</h3>
                        </td>
                        <td colspan="2" style="width:250px">
                            <!--YAVIRAC-->
                            Imagen 2
                        </td>
                    </tr>


                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="12" style="width:250px;">
                            <h3>Identificación del Curso. {{rowData.code}}</h3>
                        </td>
                    </tr>


                    <!--space between cell-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <th colspan="12" style="width:250px; height: 10px;">
                        </th>
                    </tr>

                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="4" style="width:100%; background-color: #b8cce4;">
                            <b>Nombre del curso:</b>
                        </td>
                        <td colspan="4" style="width:550px; background-color: #b8cce4;">
                            <b>Nombre del Docente:</b>
                        </td>
                        <td colspan="4" style="width:250px; background-color: #b8cce4;">
                            <b>Detalle de la especialidad
                            </b>
                        </td>
                    </tr>

                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="4" style="width:250px;">
                            <b>{{rowData.name}}</b>
                        </td>
                        <td colspan="4" style="width:550px;">
                            <b>{{rowData.area.name}}</b>
                        </td>
                        
                        <td colspan="4" style="width:250px;">
                            <b>{{rowData.specialty.name}}</b>
                        </td>
                    </tr>

                    <!--space between cell-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <th colspan="12" style="width:250px; height: 10px;">
                        </th>
                    </tr>


                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="4" style="width:250px; background-color: #b8cce4;">
                            <b>Tipo de Participante</b>
                        </td>
                        <td colspan="4" style="width:550px; background-color: #b8cce4;">
                            <b>Modalidad</b>
                        </td>
                        <td colspan="4" style="width:250px; background-color: #b8cce4;">
                            <b>Duración:</b>
                        </td>
                    </tr>

                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="4" style="width:250px;">
                            <b>{{rowData.id}}</b>
                        </td>
                        <td colspan="4" style="width:250px;">
                            <b>{{rowData.modality.name}}</b>
                        </td>
                        <td colspan="4" style="width:250px;">
                            <b>{{rowData.duration}} Horas</b>
                        </td>
                    </tr>

                    <!--space between cell end-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <th colspan="12" style="width:250px; height: 10px;">
                        </th>
                    </tr>



                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="12" style="width:250px;">
                            <b>Requisitos mínimos de entrada al Curso.</b>
                        </td>
                    </tr>

                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="12" style="width:250px;">
                            <p>{{rowData.practice_required_resources}}</p>
                        </td>
                    </tr>


                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="12" style="width:250px;">
                            <b>Objetivo del Curso.</b>
                        </td>
                    </tr>

                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="12" style="width:250px;">
                            <p>{{rowData.objective}}</p>
                        </td>
                    </tr>


                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="12" style="width:250px;">
                            <b>Contenidos del Curso. </b>
                        </td>
                    </tr>

                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="3" style="width:250px;">
                            <p>Temas Principales.</p>
                        </td>
                        <td colspan="9" style="width:250px;">
                            <p *ngFor="let topic of rowData.main_topics">{{topic}}</p>
                        </td>
                    </tr>

                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="3" style="width:250px;">
                            <p>Temas secundarios o sub temas.</p>
                        </td>
                        <td colspan="9" style="width:250px;">
                            <p *ngFor="let subtopic of rowData.secondary_topics">{{subtopic}}</p>
                        </td>
                    </tr>

                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="3" style="width:250px;">
                            <p>Temas Transversales.</p>
                        </td>
                        <td colspan="9" style="width:250px;">
                            <p *ngFor="let crossTopic of rowData.cross_cutting_topics">{{crossTopic}}</p>
                        </td>
                    </tr>


                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="12" style="width:250px;">
                            <b>Estrategias de enseñanza - aprendizaje</b>
                        </td>
                    </tr>

                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="12" style="width:250px;">
                            <p *ngFor="let strategie of rowData.teaching_strategies">{{strategie}}</p>
                        </td>
                    </tr>

                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="12" style="width:250px;">
                            <div class="p-grid">
                                <div class="p-col-12"><b>Mecanismos de evaluación. </b></div>
                            </div>
                        </td>
                    </tr>

                    <!--space between cell-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <th colspan="12" style="width:250px; height: 10px;">
                        </th>
                    </tr>

                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="4" style="width:250px; background-color: #b8cce4; text-align: center;">
                            <b>Evaluación diagnóstica</b>
                        </td>
                        <td colspan="4" style="width:250px; background-color: #b8cce4; text-align: center;">
                            <b>Evaluación proceso formativo</b>
                        </td>
                        <td colspan="4" style="width:250px; background-color: #b8cce4; text-align: center;">
                            <b>Evaluación final</b>
                        </td>
                    </tr>

                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="2" style="width:250px; background-color: #b8cce4; text-align: center;">
                            <b>Técnica</b>
                        </td>
                        <td colspan="2" style="width:350px; background-color: #b8cce4; text-align: center">
                            <b>Instrumento</b>
                        </td>
                        <td colspan="2" style="width:250px; background-color: #b8cce4; text-align: center;">
                            <b>Técnica</b>
                        </td>
                        <td colspan="2" style="width:350px; background-color: #b8cce4; text-align: center">
                            <b>Instrumento</b>
                        </td>
                        <td colspan="2" style="width:250px; background-color: #b8cce4; text-align: center;">
                            <b>Técnica</b>
                        </td>
                        <td colspan="2" style="width:350px; background-color: #b8cce4; text-align: center">
                            <b>Instrumento</b>
                        </td>
                    </tr>

                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="2" style="width:250px;">
                            {{rowData.name}}
                        </td>
                        <td colspan="2" style="width:250px;">
                            {{rowData.name}}
                        </td>
                        <td colspan="2" style="width:250px;">
                            {{rowData.name}}
                        </td>
                        <td colspan="2" style="width:250px;">
                            {{rowData.name}}
                        </td>
                        <td colspan="2" style="width:250px;">
                            {{rowData.name}}
                        </td>
                        <td colspan="2" style="width:250px;">
                            {{rowData.name}}
                        </td>
                    </tr>

                    <!--space between cell end-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <th colspan="12" style="width:250px; height: 10px;">
                        </th>
                    </tr>


                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="12" style="width:250px;">
                            <b>Entorno de Aprendizaje </b>
                        </td>
                    </tr>

                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="4" style="width:250px; background-color: #b8cce4;">
                            <b>Instalaciones</b>
                        </td>
                        <td colspan="4" style="width:250px; background-color: #b8cce4;">
                            <b>Fase teórica</b>
                        </td>
                        <td colspan="4" style="width:250px; background-color: #b8cce4;">
                            <b>Fase práctica</b>
                        </td>
                    </tr>

                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="4" style="width:250px;">
                            <p *ngFor="let facilitie of rowData.facilities">{{facilitie}}</p>
                        </td>
                        <td colspan="4" style="width:250px;">
                            <p *ngFor="let theoreticalPhase of rowData.theoretical_phase">{{theoreticalPhase}}</p>
                        </td>
                        <td colspan="4" style="width:250px;">
                            <p *ngFor="let practicalPhase of rowData.practical_phase">{{practicalPhase}}</p>
                        </td>                            
                    </tr>

                    <!--space between cell end-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <th colspan="12" style="width:250px; height: 10px;">
                        </th>
                    </tr>


                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="4" rowspan="2" style="width:250px; background-color: #b8cce4;">
                            <b>Carga horaria:</b>
                        </td>
                        <td colspan="4" style="width:250px;">
                            <b>Horas prácticas</b>
                        </td>
                        <td colspan="4" style="width:250px">
                            {{rowData.practice_hours}}
                        </td>
                    </tr>

                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="4" style="width:250px;">
                            <b>Horas teóricas</b>
                        </td>
                        <td colspan="4" style="width:250px">
                            {{rowData.theory_hours}}
                        </td>
                    </tr>

                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="4" style="width:250px; background-color: #b8cce4;">
                            <b>Bibliografía:</b>
                        </td>
                        <td colspan="8" style="width:250px;">
                            {{rowData.bibliography}}
                        </td>
                    </tr>


                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="12" style="width:250px; height: 100px;">
                            <b></b>
                        </td>
                    </tr>


                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="12" style="width:250px;">
                            <b> firma del responsable del Diseño Curricular </b>
                        </td>
                    </tr>

                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="12" style="width:250px;">
                            <b>Nombre y Apellido: </b>
                        </td>
                    </tr>

                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="12" style="width:250px;">
                            <b>Cédula No.: </b>
                        </td>
                    </tr>

                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="12" style="width:250px;">
                            <b>Indice Dactilar: </b>
                        </td>
                    </tr>

                </ng-template>
                <ng-template pTemplate="footer">
                    <tr>
                        <td colspan="3" class="p-text-center" style="text-align: justify;">
                            <p> <b>Nota:</b> Nota: En el caso de disponer sólo en archivos digitales,
                                se puede insertar las firmas de resposabilidad como imagen en las celdas correspondientes.
                            </p>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-dialog>
    <div></div>

</div>