<p-toast ></p-toast>

<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
					<button pButton pRipple icon="pi pi-plus" label=""
							class="p-button-info p-button-raised p-button-lg p-button-rounded p-mr-2"
							(click)="openModal(null)" [pTooltip]="'Nuevo registro'"></button>
					
                </ng-template>

               
            </p-toolbar>
            <p-table
            [responsive]="true" 
            [value]="schedules"
            [columns]="cols"
            [(selection)]="selectedClassroom" 
            [rowHover]="true"
              dataKey="id"
            [paginator]="true"
               [rows]="10"
            >
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                    <h5 class="p-m-0">Administración de Horarios</h5>
                   <!-- <span class="p-input-icon-right">
                        <p-dropdown #selectedCol [options]="cols" optionLabel="header"
                                    class="p-text-uppercase p-m-2"
                                    (onChange)="selectColSearch(selectedCol.value)"></p-dropdown>
                        <i class="pi pi-search" (click)="search($event,inputSearch.value)"></i>
                    <input #inputSearch pInputText type="text" placeholder="Buscar..."
                           class="p-text-uppercase p-m-2"
                           (keyup.enter)="search($event,inputSearch.value)"
                           (keyup.backspace)="search($event,inputSearch.value)"/>
                </span>-->
                </div>
            </ng-template>
                <ng-template pTemplate="header">
					<tr>
						<th style="width: 3rem">
							<p-tableHeaderCheckbox></p-tableHeaderCheckbox>
						</th>
						<th pSortableColumn="start_time">Inicio 
							<p-sortIcon field="start_time"></p-sortIcon>
						</th>
						<th pSortableColumn="end_time">Fin
							<p-sortIcon field="end_time"></p-sortIcon>
						</th>
						<th pSortableColumn="day">Día
							<p-sortIcon field="day"></p-sortIcon>
						</th>
	
						<th>
						</th>
					</tr>
				</ng-template>
                <ng-template pTemplate="body" let-rowData let-columns=columns >
                    <tr >
                        <td>
							<p-tableCheckbox [value]="rowData"></p-tableCheckbox>
						</td>
                        <td>{{rowData.start_time}}</td>
                        <td>{{rowData.end_time}}</td>
                        <td>{{rowData.day.name}}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-user-edit"
									class="p-button-rounded p-button-raised p-mr-2"
									(click)="openModal(rowData)" [pTooltip]="'Editar registro'"></button>
							<button pButton pRipple icon="pi pi-times"
									class="p-button-rounded p-button-danger p-button-raised"
									(click)="delete(rowData)" [pTooltip]="'Eliminar registro'"></button>
						 </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
					<div class="p-d-flex p-ai-center p-jc-between">
						<span *ngIf="paginator.total===0"> No hay registros.</span>
						<span *ngIf="paginator.total>0"> {{paginator.total}} registros.</span>
						<p-paginator *ngIf="paginator.total>0"
									 [rowsPerPageOptions]="rowsPerPageOptions"
									 [rows]="paginator.per_page"
									 [totalRecords]="paginator.total"
									 (onPageChange)="paginate($event)"
						></p-paginator>
					</div>
				</ng-template>

            </p-table>
		</div>
		<form [formGroup]="form" (ngSubmit)="onSubmit($event)">
            <p-dialog [(visible)]="dialog"  [maximizable]="true" [baseZIndex]="10000" header="Details" [modal]="true"
                styleClass="p-fluid">
                <ng-template pTemplate="content">
                    <div class="p-formgrid p-grid">
                        <div class="p-field p-col">
                            <label for="start_time">Inicio:
                            </label>
                            <input type="time" pInputText id="startTime" name="startTime"
                            formControlName="start_time" autofocus/>
                        </div>
                        <div class="p-field p-col">
                            <label for="end_time">Fin:</label>
                            <input type="time" pInputText id="endTime" name="endTime"
                            formControlName="end_time"/>
                        </div>
                    </div>
                    <div class="p-formgrid p-grid">
                        <div class="p-field p-col">
                            <label for="day">Día:
                            </label>
                            <p-dropdown id="day" [options]="day"   placeholder="Seleciona un Día"  formControlName="day" >
                            </p-dropdown>
                        </div>
                    </div>
                    
                   
                </ng-template>


                <ng-template pTemplate="footer">
                    <button type="button" pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                        (click)="dialog=false"></button>
                    <button type="submit" pButton pRipple label="Guardar" icon="pi pi-save"
                        class="p-button-raised"></button>
                </ng-template>

            </p-dialog>
        </form>
    </div>
</div>



































