<div class="landing-body">
    <div id="meet-mirage" class="p-col-12">
        <div style="text-align: center; padding-top: 30px;">
            <h1>Centro de Educación Continua "Yavirac"</h1>
        </div>
        <div class="section" style="padding-top: 10px;">
            <div class="p-grid">
                <div class="p-col-1" style="text-align: center; margin-top: 10px;"><button type="button" label="" pButton
                        routerLink="/cecy/reports/list" icon="pi pi-arrow-left"></button></div>
                <div class="p-col-11">
                        <h2>INSCRIPCIÓN PARA CURSOS DE CAPACITACIÓN</h2>
                </div>
            </div>
        </div>

        <div style="padding-left: 70px; padding-right: 70px;">
            <p-tabView>
                <p-tabPanel header="Todo">
                    <h3>Todos los institutos</h3>
                    <p-table [columns]="cols" [value]="courses" [loading]="loading">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th colspan="2" pSortableColumn="course.name">
                                    Curso
                                    <p-sortIcon field="course.name"></p-sortIcon>
                                </th>
                                <th colspan="2" pSortableColumn="course.institution.short_name">
                                    Institución
                                    <p-sortIcon field="course.institution.short_name"></p-sortIcon>
                                </th>
                                <th colspan="1" style="width: 300px; text-align: center;">
                                    Detalle
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pEditableRow]="rowData">
                                <td colspan="2">
                                    {{rowData.course.name}}
                                </td>
                                <td colspan="2">
                                    {{rowData.course.institution.denomination}} {{rowData.course.institution.short_name}}
                                </td>
                                <td colspan="1" style="text-align: center;">
                                    <button type="text" icon="pi pi-external-link" style="margin-left: 5px; padding-top: 5px;" 
                                    pButton label="Ver detalle" (click)=" detailInscription(rowData);"></button>
                                    <!-- <button type="button" icon="pi pi-file-pdf" label="Descargar" pButton
                                    style="background-color: rgb(200, 12, 12); margin-left: 5px; padding-top: 5px;" 
                                    (click)="pdf(rowData.id)"></button> -->
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="4">Data not found.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Yavirac">
                    <h3>INSTITUTO SUPERIO TECNOLOGICO DE TURISMO Y PATRIMONIO YAVIRAC</h3>
                </p-tabPanel>
                <p-tabPanel header="Gran Colombia">
                    <h3>INSTITUTO SUPERIO GRAN COLOMBIA</h3>
                </p-tabPanel>
                <p-tabPanel header="Benitó Júarez">
                    <h3>INSTITUTO SUPERIO BENITÓ JÚAREZ</h3>
                </p-tabPanel>
            </p-tabView>
            
            <!--pop-up-->
            <p-dialog header="Detalle" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '90vw', Height: '60vw'}" [maximizable]="true" [baseZIndex]="10000"
            [draggable]="false" [resizable]="false">
                <p-table id="b1" [columns]="cols" [value]="courses" styleClass="p-datatable-lg"
                [scrollable]="true" scrollHeight="1000px">
                <ng-template pTemplate="header">
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td style="width:250px">
                            <!--SENESCYT-->
                            Imagen1
                        </td>
                        <td style="width:250px">
                            INSTITUTO TECNOLÓGICO SUPERIOR "Nombre del ITS"
                        </td>
                        <td style="width:250px">
                            <!--YAVIRAC-->
                            Imagen2
                        </td>
                    </tr>
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="3" style="width:250px; text-align: center;">
                            <h2>INSCRIPCIÓN PARA CURSOS DE CAPACITACIÓN</h2>
                        </td>
                    </tr>
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="3" style="width:250px; text-align: center;">
                            <b>CÓDIGO DEL CURSO:</b> {{rowData.code}}
                        </td>
                    </tr>
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="3" style="width:250px; text-align: left;">
                            <b>Nombre del Course:</b> {{rowData.name}}
                        </td>
                    </tr>

                    <!--Modalidad-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td style="width:250px; text-align: left;">
                            <b>Modalidad del Curso:</b>
                        </td>
                        <td style="width:250px; text-align: left;">
                            <!--Consultar como se va ingresar el dato-->
                            <div class="p-grid">
                                <div class="p-col-6"><b>Presencial:</b></div>
                                <div class="p-col-6">
                                    <div *ngIf="rowData.modality.name==='Presencial'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.modality.name!='Presencial'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                    <div *ngIf="rowData.modality.name==='PRESENCIAL'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.modality.name!='PRESENCIAL'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="width:250px; text-align: left;" *ngIf="rowData.modality.name==='SEMI-PRECENSIAL'">
                            <!--Consultar como se va ingresar el dato-->
                            <div class="p-grid">
                                <div class="p-col-6">
                                    <b>Semi-Presencial:</b>
                                </div>
                                <div class="p-col-6">
                                    <div *ngIf="rowData.modality.name==='Semi-Presencial'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.modality.name!='Semi-Presencial'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                    <div *ngIf="rowData.modality.name==='SEMI-PRESENCIAL'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.modality.name!='SEMI-PRESENCIAL'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="width:250px; text-align: left;" *ngIf="rowData.modality.name==='DISTANCIA'">
                            <!--Consultar como se va ingresar el dato-->
                            <div class="p-grid">
                                <div class="p-col-6">
                                    <b>Distancia:</b>
                                </div>
                                <div class="p-col-6">
                                    <div *ngIf="rowData.modality.name==='Distancia'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.modality.name!='Distancia'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                    <div *ngIf="rowData.modality.name==='DISTANCIA'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.modality.name!='DISTANCIA'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="width:250px; text-align: left;" *ngIf="rowData.modality.name==='DUAL'">
                            <!--Consultar como se va ingresar el dato-->
                            <div class="p-grid">
                                <div class="p-col-6">
                                    <b>Dual:</b>
                                </div>
                                <div class="p-col-6">
                                    <div *ngIf="rowData.modality.name==='Dual'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.modality.name!='Dual'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                    <div *ngIf="rowData.modality.name==='DUAL'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.modality.name!='DUAL'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="width:250px; text-align: left;"
                            *ngIf="rowData.modality.name!='DUAL' && rowData.modality.name!='SEMI-PRECENSIAL' && rowData.modality.name!='DISTANCIA'">
                            <!--Consultar como se va ingresar el dato-->
                            <div class="p-grid">
                                <div class="p-col-6"><b>Virtual:</b></div>
                                <div class="p-col-6">
                                    <div *ngIf="rowData.modality.name==='Virtual'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.modality.name!='Virtual'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                    <div *ngIf="rowData.modality.name==='VIRTUAL'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.modality.name!='VIRTUAL'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <!--Datos personales-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="3" style="width:250px; text-align: center;">
                            <h2>DATOS PERSONALES</h2>
                        </td>
                    </tr>

                    <!--Nombre apellido-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="3" style="width:250px;">
                            <b>Apellidos y Nombres:</b> {{rowData.code}}
                            
                        </td>
                    </tr>

                    <!--Cédula de Ciudadanía: y Fecha de nacimiento-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="1" style="width:250px;">
                            <b>Cédula de Ciudadanía: </b> {{rowData.code}}
                        </td>
                        <td colspan="1"  style="width:250px;"></td>
                        <td colspan="1"  style="width:250px;">
                            <b>Fecha de nacimiento:</b>{{rowData.code}}
                        </td>
                    </tr>
                    
                    <!--Sexo-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td style="width:250px; text-align: left;">
                            <b>Sexo:</b>
                        </td>
                        <td style="width:250px; text-align: left;">
                            <div class="p-grid">
                                <div class="p-col-6">
                                    <b>Femenino:</b>
                                </div>
                                <div class="p-col-6">
                                    <div *ngIf="rowData.course.name==='Administrativo'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.course.name!='Administrativo'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="width:250px; text-align: left;">
                            <div class="p-grid">
                                <div class="p-col-6">
                                    <b>Maculino:</b>
                                </div>
                                <div class="p-col-6">
                                    <div *ngIf="rowData.course.name==='Técnico'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.course.name!='Técnico'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <!--Etnia-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td style="width:250px; text-align: left;">
                            <b>Etnia:</b>
                        </td>
                        <td colspan="2" style="width:250px; text-align: left;">
                            <div class="p-grid">
                                <!--mestizo:-->
                                <div class="p-col-6">
                                    <b>Mestizo:</b>
                                </div>
                                <div class="p-col-6">
                                    <div *ngIf="rowData.course.name==='Técnico'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.course.name!='Técnico'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                </div>
                                <!--Indígena:-->
                                <div class="p-col-6">
                                    <b>Indígena:</b>
                                </div>
                                <div class="p-col-6">
                                    <div *ngIf="rowData.course.name==='Administrativo'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.course.name!='Administrativo'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                </div>
                                <!--Blanco:-->
                                <div class="p-col-6">
                                    <b>Blanco:</b>
                                </div>
                                <div class="p-col-6">
                                    <div *ngIf="rowData.course.name==='Administrativo'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.course.name!='Administrativo'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                </div>
                                <!--Afroecutoriano:-->
                                <div class="p-col-6">
                                    <b>Afroecutoriano:</b>
                                </div>
                                <div class="p-col-6">
                                    <div *ngIf="rowData.course.name==='Administrativo'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.course.name!='Administrativo'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                </div>
                                <!--Otros:-->
                                <div class="p-col-6">
                                    <b>Otros:</b>
                                </div>
                                <div class="p-col-6">
                                    <div *ngIf="rowData.course.name==='Administrativo'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.course.name!='Administrativo'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <!--Dirección Domiciliaria:-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="3" style="width:250px;">
                            <b>Dirección Domiciliaria:</b> {{rowData.code}}
                        </td>
                    </tr>

                    <!--Nro. Telefónico:-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="1" style="width:250px;">
                            <b>Nro. Telefónico: </b>
                        </td>
                        <td colspan="1"  style="width:250px;">
                            <b>Convencional: </b> {{rowData.code}}
                        </td>
                        <td colspan="1"  style="width:250px;">
                            <b>Celular: </b> {{rowData.code}}
                        </td>
                    </tr>

                    <!--Correo electrónico:-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="3" style="width:250px;">
                            <b>Correo electrónico:</b> {{rowData.code}}
                        </td>
                    </tr>

                    <!--Nivel de instrucción:-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td style="width:250px; text-align: left;">
                            <b>Nivel de instrucción:</b>
                        </td>
                        <td colspan="2" style="width:250px; text-align: left;">
                            <div class="p-grid">
                                <!--mestizo:-->
                                <div class="p-col-6">
                                    <b>Primaria:</b>
                                </div>
                                <div class="p-col-6">
                                    <div *ngIf="rowData.course.name==='Técnico'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.course.name!='Técnico'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                </div>
                                <!--Indígena:-->
                                <div class="p-col-6">
                                    <b>Secundaria:</b>
                                </div>
                                <div class="p-col-6">
                                    <div *ngIf="rowData.course.name==='Administrativo'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.course.name!='Administrativo'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                </div>
                                <!--Blanco:-->
                                <div class="p-col-6">
                                    <b>Superior:</b>
                                </div>
                                <div class="p-col-6">
                                    <div *ngIf="rowData.course.name==='Administrativo'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.course.name!='Administrativo'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <!--INFORMACIÓN LABORAL / ESTUDIOS-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="3" style="width:250px; text-align: center;">
                            <h2>INFORMACIÓN LABORAL / ESTUDIOS</h2>
                        </td>
                    </tr>

                    <!--Institución donde trabaja / Estudia:-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="3" style="width:250px;">
                            <b>Institución donde trabaja / Estudia:</b> {{rowData.code}}
                        </td>
                    </tr>

                    <!--Dirección de la institución:-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="3" style="width:250px;">
                            <b>Dirección de la institución:</b> {{rowData.code}}
                        </td>
                    </tr>

                    <!--Correo electrónico de la institución:-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="3" style="width:250px;">
                            <b>Correo electrónico de la institución:</b> {{rowData.code}}
                        </td>
                    </tr>

                    <!--Número telefónico de la institución:-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="3" style="width:250px;">
                            <b>Número telefónico de la institución:</b> {{rowData.code}}
                        </td>
                    </tr>

                    <!--Actividad de la institución:-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="3" style="width:250px;">
                            <b>Actividad de la institución:</b> {{rowData.code}}
                        </td>
                    </tr>

                    <!--¿El curso es auspiciado por la institución?:-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="1" style="width:250px;">
                            <b>¿El curso es auspiciado por la institución?: </b>
                        </td>
                        <td colspan="1"  style="width:250px;">
                            <div class="p-gird">
                                <!--si:-->
                                <div class="p-col-6">
                                    <b>si:</b>
                                </div>
                                <div class="p-col-6">
                                    <div *ngIf="rowData.course.name==='Técnico'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.course.name!='Técnico'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td colspan="1"  style="width:250px;">
                            <div class="p-gird">
                                <!--no:-->
                                <div class="p-col-6">
                                    <b>no:</b>
                                </div>
                                <div class="p-col-6">
                                    <div *ngIf="rowData.course.name==='Administrativo'"
                                        style="border: 1px solid black; width: 20px; text-align: center;">X</div>
                                    <div *ngIf="rowData.course.name!='Administrativo'"
                                        style="border: 1px solid black; width: 20px; height: 20px; text-align: center;">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <!--Si está auspiciado, indique el nombre de contacto:-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="3" style="width:250px;">
                            <b>Si está auspiciado, indique el nombre de contacto:</b> {{rowData.code}}
                        </td>
                    </tr>

                    <!--¿Cómo se enteró del curso?-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="3" style="width:250px;">
                            <b>¿Cómo se enteró del curso?</b> {{rowData.code}}
                        </td>
                    </tr>

                    <!--¿Qué otros cursos le gustaría seguir?-->
                    <tr [pSelectableRow]="rowData" [pEditableRow]="rowData" *ngIf="rowData.id==selectCourseId.id">
                        <td colspan="3" style="width:250px;">
                            <b>¿Qué otros cursos le gustaría seguir?</b> {{rowData.code}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr>
                        <td colspan="3" class="p-text-right" style="text-align: center;">
                            <p> <b>Nota:</b> Para el caso de una inscripción fìsica, se tomará en cuenta la impresiòn del siguiente formulario, en caso de que sea un registro digital, se solicita adjuntar unicamente la imagen de la firma del solicitante en el documento para el archivo del Instituto. </p>
                        </td>
                    </tr>
                </ng-template>
                </p-table>
            </p-dialog>
        </div>
    </div>
</div>
